            <div class="entries row">
              <!--item-->
              <div class="row">
    <% @profile.gardens.each do |k|  %>
    <div class = "one-third gardens_box wow zoomIn animated animated" >
        <p class="garden_name"><%= k.name%></p>
        <%= link_to ' Edit', edit_garden_path(k) , :class=>"edit_style"%>

        <%= link_to ' Destroy', garden_path(k), :class=>"destroy_style", method: :delete, data: { confirm: 'Are you sure?' }%>
      </br>    
      <% k.plants.each do |p| %>
      <div class="border_plant">
        <div>
          <%= image_tag("img11.jpg", :class=>"plant_in_garden") %> 
          <%=link_to p.name , p ,:class=>"make_bold" %>
        </div>
        <div>
          <p class="make_bold">  Temperature: <%=p.temperature %></p>
          <p class="make_bold">  Soil Humidity: <%=p.humidity_soil %></p>
          <p class="make_bold">  Air Humidity: <%=p.humidity_air %></p>
          <p class="make_bold">  Light: <%=p.light_degree %></p>
        </div>
      </div>
      <% end %>
    </div>
      <% end %>
  </div>
  <!--//content-->
</div>
      