<!--<p id="notice"><%= notice %></p>-->
<!DOCTYPE html>
<!-- saved from url=(0066)http://www.themeenergy.com/themes/html/social-chef/my_profile.html -->


<title>Profile</title>

<!--main-->
<main class="main" role="main">
  <!--wrap-->
  <div class="wrap clearfix">
    <!--breadcrumbs-->
    <nav class="breadcrumbs fasele_az_bala">
      <ul>
        <li><a href="http://www.themeenergy.com/themes/html/social-chef/index.html" title="Home">خانه</a></li>
        <li>حساب کاربری من</li>
      </ul>
    </nav>
    <!--//breadcrumbs-->

    
    <!--content-->
    <section class="content">
      <!--row-->
      <div class="row">
        <!--profile left part-->
        <div class="my_account one-fourth wow fadeInLeft animated" style="visibility: visible;">
            </br>
            </br>
          <figure>
            <% if @profile.profile_photo.present? %>
            <%=image_tag @profile.profile_photo_url%>
            <%else %>
            <%=image_tag "default_profile.png"%>
            <%end%>
          </figure>
          <div class="container center">
            <h2><%= @profile.first_name%></h2> 
          </div>
          <div class="container">
            <%= link_to 'Edit Profile', edit_profile_path(@profile), :class=>""%> |
          <%= link_to 'Back', profiles_path, :class=>""%>
          </div>
        </div>
        <!--//profile left part-->

        <div class="three-fourth wow fadeInRight animated" style="visibility: visible;">
          <nav class="tabs">
            <ul>
              <li class="active"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#about" title="About me">About me</a></li>
              <li class="">
                  <%= link_to raw('my flowers'), my_flowers_profile_path(current_user), :class => '', :remote => true, :title => 'my flowers', :id => "flowers" %>

                <!-- <a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#recipes" title="My recipes">My recipes</a> -->
              </li>
              <li class=""><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#favorites" title="My favorites">My favorites</a></li>
              <li class=""><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#posts" title="My posts">My posts</a></li>
            </ul>
          </nav>

          <!--about-->
          <div class="tab-content" id="about" style="display: block;">
            <div class="row">
              <dl class="basic two-third">


                <dt style="text-align:center">نام</dt>
                <dd><%= @profile.first_name%></dd>
                <dt style="text-align:center">نام خانوادگی</dt>
                <dd><%= @profile.last_name%></dd>
                <dt>Favorite appliances</dt>
                <dd>Blender, sharp knife</dd>
                <dt>Favorite spices</dt>
                <dd>Chilli, Oregano, Basil</dd>
                <dt>Recipes submitted</dt>
                <dd>9</dd>
                <dt>Posts submitted</dt>
                <dd>9</dd>
              </dl>

              <div class="one-third">
                <ul class="boxed gold">
                  <li class="light"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Best recipe"><i class="ico i-had_best_recipe"></i> <span>Had a best recipe</span></a></li>
                  <li class="medium"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
                  <li class="dark"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Added a first recipe"><i class="ico i-added_first_recipe"></i> <span>Added a first recipe</span></a></li>

                  <li class="medium"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Added 10-20 recipes"><i class="ico i-added_several_recipes"></i> <span>Added 10-20 recipes</span></a></li>
                  <li class="dark"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Events"><i class="ico i-wrote_blog_post"></i> <span>Wrote a blog post</span></a></li>
                  <li class="light"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Fish"><i class="ico i-wrote_comment"></i> <span>Wrote a comment</span></a></li>

                  <li class="dark"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Fish"><i class="ico i-won_contest"></i> <span>Won a contest</span></a></li>
                  <li class="light"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Healthy"><i class="ico i-shared_recipe"></i> <span>Shared a recipe</span></a></li>
                  <li class="medium"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
                </ul>
              </div>


            </div>
          </div>
          <!--//about-->
          <div class="tab-content" id="my_flowers" >
          </div>
          <!--my recipes-->
          <div class="tab-content" id="recipes" style="display: none;">
            <div class="entries row">
              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img6.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Thai fried rice with fruit and vegetables</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-medium"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">medium</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img5.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-hard"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">hard</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img8.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Super easy blueberry cheesecake</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-easy"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">easy</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->
            </div>
          </div>
          <!--//my recipes-->

          <!--my favorites-->
          <div class="tab-content" id="favorites" style="display: none;">
            <div class="entries row">
              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img6.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Thai fried rice with fruit and vegetables</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-medium"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">medium</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img5.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-hard"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">hard</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img8.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Super easy blueberry cheesecake</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-easy"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">easy</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->
            </div>
          </div>
          <!--//my favorites-->

          <!--my posts-->
          <div class="tab-content" id="posts" style="display: none;">
            <!--entries-->
            <div class="entries row">
              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img12.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html">Barbeque party</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="date"><i class="ico i-date"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">22 Dec 2014</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html#comments">27</a></div>
                    </div>
                  </div>
                  <div class="excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img11.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html">How to make sushi</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="date"><i class="ico i-date"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">22 Dec 2014</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html#comments">27</a></div>
                    </div>
                  </div>
                  <div class="excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img10.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html">Make your own bread</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="date"><i class="ico i-date"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">22 Dec 2014</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html#comments">27</a></div>
                    </div>
                  </div>
                  <div class="excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                  </div>
                </div>
              </div>
              <!--item-->
            </div>
            <!--//entries-->
          </div>
          <!--//my posts-->
        </div>
      </div>
      <!--//row-->
    </section>


    <div class="one">
    <%= link_to "ساخت باغچه", new_garden_path,:class=>"button"%>
    </br>
    </br>
      <%= link_to "اضافه کردن گل جدید", new_plant_path, :class=>"button" %>
    </div>


    <div class="row">
    <% @profile.gardens.each do |k|  %>
    <div class = "one-sixth gardens_box wow zoomIn animated animated" >
        <p class="garden_name"><%= k.name%></p>
        <%= link_to ' Edit', edit_garden_path(k) , :class=>"edit_style"%>

        <%= link_to ' Destroy', garden_path(k), :class=>"destroy_style", method: :delete, data: { confirm: 'Are you sure?' }%>
      </br>    
      <% k.plants.each do |p| %>

        <div>
          <%= image_tag("img11.jpg", :class=>"plant_in_garden") %> 
          <%=link_to p.name , p ,:class=>"make_bold" %>
        </div>
        <div>
          <p class="make_bold">  Temperature: <%=p.temperature %></p>
          <p class="make_bold">  Soil Humidity: <%=p.humidity_soil %></p>
          <p class="make_bold">  Air Humidity: <%=p.humidity_air %></p>
          <p class="make_bold">  Light: <%=p.light_degree %></p>
        </div>

      <% end %>
    </div>
      <% end %>
  </div>
  <!--//content-->
</div>
<!--//wrap-->
</main>
<!--//main-->


<!--footer-->
<footer class="foot" role="contentinfo">
  <div class="wrap clearfix">
    <div class="row">
      <article class="one-half">
        <h5>About SocialChef Community</h5>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
      </article>
      <article class="one-fourth">
        <h5>Need help?</h5>
        <p>Contact us via phone or email</p>
        <p><em>T:</em>  +1 555 555 555<br><em>E:</em>  <a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">socialchef@email.com</a></p>
      </article>
      <article class="one-fourth">
        <h5>Follow us</h5>
        <ul class="social">
          <li class="facebook"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="facebook">facebook</a></li>
          <li class="youtube"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="youtube">youtube</a></li>
          <li class="rss"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="rss">rss</a></li>
          <li class="gplus"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="gplus">google plus</a></li>
          <li class="linkedin"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="linkedin">linkedin</a></li>
          <li class="twitter"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="twitter">twitter</a></li>
          <li class="pinterest"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="pinterest">pinterest</a></li>
          <li class="vimeo"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="vimeo">vimeo</a></li>
        </ul>
      </article>

      <div class="bottom">
        <p class="copy">Copyright 2014 SocialChef. All rights reserved</p>

        <nav class="foot-nav">
          <ul>
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/index.html" title="Home">Home</a></li>
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Recipes">Recipes</a></li>
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/blog.html" title="Blog">Blog</a></li>
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/contact.html" title="Contact">Contact</a></li>    
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/find_recipe.html" title="Search for recipes">Search for recipes</a></li>
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/login.html" title="Login">Login</a></li>  <li><a href="http://www.themeenergy.com/themes/html/social-chef/register.html" title="Register">Register</a></li>                         
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
<!--//footer-->

<!--preloader-->
<div class="preloader" style="display: none;">
  <div class="spinner"></div>
</div>
<!--//preloader-->

<script>new WOW().init();</script>




</body></html>



<!-- myprofile design -->

<div class="row">
  <%if @profile.cover_photo.present? %>
  <%=image_tag @profile.cover_photo_url, :class=>"img_cover_photo"%>
  <%else%>
  <%=image_tag "slide1.jpg", :class=>"img_cover_photo"%>
  <%end%>
</div>

<div class="col-md-6">

  <% if @profile.profile_photo.present? %>
  <%=image_tag @profile.profile_photo_url , :class=>"img-circle img_profile_pos" %>
  <%else %>
  <%=image_tag "default_profile.png" , :class=>"img-circle img_profile_pos" %>
  <%end%>

<!--
  <p>
    <strong>User:</strong>
    <%= @profile.user_id %>
  </p>

  <p>
    <strong>Profile photo:</strong>
    <%= @profile.profile_photo %>
  </p>

  <p>
    <strong>Cover photo:</strong>
    <%= @profile.cover_photo %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @profile.gender %>
  </p>

-->
<p>
</br>
<strong>First Name:</strong>
<%= @profile.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @profile.last_name %>
</p>


number of Your gardens :
<%= current_user.profile.gardens.count %>
</br>
number of total plants in your gardens :
<% number=0 %>
<% current_user.profile.gardens.each do |g| %>
<% number += g.plants.count %>
<% end %>
<%= number %>
</br>

<%= link_to 'Edit Profile', edit_profile_path(@profile), :class=>"btn btn-default"%> |
<%= link_to 'Back', profiles_path, :class=>"btn btn-default"%>

</div>

<div class="col-md-6 well">

  <button type="button" class="btn btn-success btn-sm darkcyan" data-toggle="modal" data-target="#myModal">
    Create New Garden
  </button>

  <%= link_to "Sign out", destroy_user_session_path ,:method => :delete %>

</br>
</br>
<button type="button" class="btn btn-success btn-sm darkcyan" data-toggle="modal" data-target="#myModal_1">
  Add New Plant to your Desired Garden
</button>


</div>


</div>

<div class="gardens_box">

  <% @profile.gardens.each do |k|  %>

  <div class="col-md-8 col-md-push-2 well">
    <%= k.name %>
    <%= link_to ' Edit', edit_garden_path(k)%>

    <%= link_to ' Destroy', garden_path(k), method: :delete, data: { confirm: 'Are you sure?' }%>
  </br>    
  <% k.plants.each do |p| %>
  <div class="col-sm-2 col-xs-2 col-md-3 alert alert-success">

    <div class="col-md-6 text-center">
      <%= image_tag("flower.png") %> 
      <%=link_to p.name , p %>
    </div>
    <div class="col-md-6">
      <%= p.temperature %>
      <p>  Temperature: <%=p.temperature %></p>
      <p>  Soil Humidity: <%=p.humidity_soil %></p>
      <p>  Air Humidity: <%=p.humidity_air %></p>
      <p>  Light: <%=p.light_degree %></p>
    </div>

  </div>
  <%end%>
</div>
<% end %>

</div>



<!-- Modal for Creating Garden-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creat New Garden</h4>
      </div>
      <div class="modal-body">
        <%= render "gardens/form" , :object => @garden %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Creating Plant-->
<div class="modal fade " id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Plant to Garden</h4>
      </div>
      <div class="modal-body">
        <%= render "plants/form" , :object => @plant %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>