<!--<p id="notice"><%= notice %></p>-->
<!DOCTYPE html>
<!-- saved from url=(0066)http://www.themeenergy.com/themes/html/social-chef/my_profile.html -->


<title>Profile</title>

<!--main-->
<main class="main" role="main">
  <!--wrap-->
  <div class="wrap clearfix">
    <!--breadcrumbs-->
    <nav class="breadcrumbs fasele_az_bala">
      <ul>
        <li><a href="http://www.themeenergy.com/themes/html/social-chef/index.html" title="Home">خانه</a></li>
        <li>حساب کاربری من</li>
      </ul>
    </nav>
    <!--//breadcrumbs-->

    
    <!--content-->
    <section class="content">
      <!--row-->
      <div class="row">
        <!--profile left part-->
        <div class="my_account one-fourth wow fadeInLeft animated" style="visibility: visible;">
            </br>
            </br>
          <figure>
            <% if @profile.profile_photo.present? %>
            <%=image_tag @profile.profile_photo_url , :class=>"stretch_img"%>
            <%else %>
            <%=image_tag "default_profile.png" , :class=>"stretch_img"%>
            <%end%>
          </figure>
          <div class="container make_center">
            <%= link_to 'تنظیمات حساب', edit_profile_path(@profile), :class=>"b_farsi"%> |
            <%= link_to 'بازگشت', profiles_path, :class=>"b_farsi"%>
          </div>
          <div class="container make_center">
            <h2><%= @profile.first_name%></h2>
              <%= link_to "ساخت باغچه", new_garden_path , :class => "button btn" %>
              <%= link_to "اضافه کردن گل جدید", new_plant_path , :class => "button btn" %>
            <br></br>
          </div>

        </div>
        <!--//profile left part-->

        <div class="three-fourth wow fadeInRight animated" style="visibility: visible;">
          <nav class="tabs">
            <ul>
              <li class="">
                  <%= link_to raw('درباره ی من'), about_me_profile_path(current_user), :class => 'make_bold', :remote => true, :title => 'about_me', :id => "about_me2" %>
              </li>
              <!-- <li class="active"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#about" title="About me">درباره ی من</a></li>
               --><li class="">
                  <%= link_to raw('دوستان من'), my_flowers_profile_path(current_user), :class => 'make_bold', :remote => true, :title => 'my flowers', :id => "flowers" %>
              </li>
              <li class="">
               <%= link_to raw('باغچه های من'), my_gardens_profile_path(current_user), :class => 'make_bold', :remote => true, :title => 'my gardens', :id => "gardens" %>
              <!-- <a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#favorites" title="My favorites">My favorites -->
              <!-- </a> -->
              </li>
              <li class="">
                <a href="#" class="make_bold" title="My posts">نوشته های من</a>
              </li>
            </ul>
          </nav>

          <!--about-->
          <!-- <div class="tab-content" id="about_me">
            
          </div>
           --><div class="tab-content" id="about" style="display: block;">
            <div class="row">
              <dl class="basic two-third">


                <dt style="text-align:center"><span>نام</span></dt>
                <dd ><%= @profile.first_name%></dd>
                <dt style="text-align:center" > <span>
                  نام خانوادگی
                </span>
                </dt>
                <dd><%= @profile.last_name%></dd>
                <dt class="make_center">گیاهان مورد علاقه</dt>
                <dd>Blender, sharp knife</dd>
                <dt class="make_center">تعداد پست ها</dt>
                <dd>Chilli, Oregano, Basil</dd>
                <dt class="make_center">رتبه بین کاربران</dt>
                <dd>9</dd>
                <dt class="make_center">تعداد گیاهان</dt>
                <dd>9</dd>
              </dl>

              <div class="one-third">
                <ul class="boxed gold">
                  <li class="light"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Best recipe"><i class="ico i-had_best_recipe"></i> <span>Had a best recipe</span></a></li>
                  <li class="medium"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
                  <li class="dark"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Added a first recipe"><i class="ico i-added_first_recipe"></i> <span>Added a first recipe</span></a></li>

                  <li class="medium"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Added 10-20 recipes"><i class="ico i-added_several_recipes"></i> <span>Added 10-20 recipes</span></a></li>
                  <li class="dark"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Events"><i class="ico i-wrote_blog_post"></i> <span>Wrote a blog post</span></a></li>
                  <li class="light"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Fish"><i class="ico i-wrote_comment"></i> <span>Wrote a comment</span></a></li>

                  <li class="dark"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Fish"><i class="ico i-won_contest"></i> <span>Won a contest</span></a></li>
                  <li class="light"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Healthy"><i class="ico i-shared_recipe"></i> <span>Shared a recipe</span></a></li>
                  <li class="medium"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--//about-->
          <div class="tab-content" id="my_flowers" >
          </div>

          <div class="tab-content" id="about_me" >
          </div>

          <div class="tab-content" id="my_gardens" >
          </div>
          
          <!--my recipes-->
          <div class="tab-content" id="recipes" style="display: none;">
            <div class="entries row">
              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img6.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Thai fried rice with fruit and vegetables</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-medium"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">medium</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img5.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-hard"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">hard</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img8.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Super easy blueberry cheesecake</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-easy"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">easy</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->
            </div>
          </div>
          <!--//my recipes-->

          <!--my favorites-->
          <div class="tab-content" id="favorites" style="display: none;">
            <div class="entries row">
              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img6.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Thai fried rice with fruit and vegetables</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-medium"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">medium</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img5.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-hard"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">hard</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img8.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Super easy blueberry cheesecake</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="difficulty"><i class="ico i-easy"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">easy</a></div>
                      <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--item-->
            </div>
          </div>
          <!--//my favorites-->

          <!--my posts-->
          <div class="tab-content" id="posts" style="display: none;">
            <!--entries-->
            <div class="entries row">
              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img12.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html">Barbeque party</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="date"><i class="ico i-date"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">22 Dec 2014</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html#comments">27</a></div>
                    </div>
                  </div>
                  <div class="excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img11.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html">How to make sushi</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="date"><i class="ico i-date"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">22 Dec 2014</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html#comments">27</a></div>
                    </div>
                  </div>
                  <div class="excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                  </div>
                </div>
              </div>
              <!--item-->

              <!--item-->
              <div class="entry one-third">
                <figure>
                  <img src="./SocialChef_files/img10.jpg" alt="">
                  <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
                </figure>
                <div class="container">
                  <h2><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html">Make your own bread</a></h2> 
                  <div class="actions">
                    <div>
                      <div class="date"><i class="ico i-date"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">22 Dec 2014</a></div>
                      <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html#comments">27</a></div>
                    </div>
                  </div>
                  <div class="excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                  </div>
                </div>
              </div>
              <!--item-->
            </div>
            <!--//entries-->
          </div>
          <!--//my posts-->
        </div>
      </div>
      <!--//row-->
    </section>
   
  <!--//content-->
</div>
<!--//wrap-->
</main>
<!--//main-->


<!--footer-->
<footer class="foot" role="contentinfo">
  <div class="wrap clearfix make_right">
    <div class="row">
      <article class="one-half">
        <h5>چرا گلدان هوشمند</h5>
        <p>گلدانی که پیش روی شماست امکان تعامل با گیاه را در هر لحظه فراهم می سازد.شما با این گلدان می توانید شرایط محیط رشد گیاه اعم از نور - دمای محیط  و رطوبت گیاه را رصد کنید .در واقع ما حرف دل گیاه شما را روی گوشی موبایل و یا صفحه ی شخصی شما نمایش خواهیم داد و مزیت این خواهد بود که  قبل از پژمردن گیاه متوجه نا به سامانی شرایط شوید و در نتیجه همیشه گیاهانی شاد و سالم داشته باشید. </p>
      </article>
      <article class="one-fourth">
        <p class="make_right">ارتباط با ما از طریق تلفن یا ایمیل</p>
        <p class="make_right"><em>تلفن: </em>09368055268<br>nooramin_co@outlook.com<em> :ایمیل</em></p>
      </article>
      <article class="one-fourth">
        <h5>گلدان هوشمند در شبکه های اجتماعی</h5>
        <ul class="social">
          <li class="facebook"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="facebook">facebook</a></li>
          <li class="youtube"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="youtube">youtube</a></li>
          <li class="rss"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="rss">rss</a></li>
          <li class="gplus"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="gplus">google plus</a></li>
          <li class="linkedin"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="linkedin">linkedin</a></li>
          <li class="twitter"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="twitter">twitter</a></li>
          <li class="pinterest"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="pinterest">pinterest</a></li>
          <li class="vimeo"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="vimeo">vimeo</a></li>
        </ul>
      </article>

      <div class="bottom">
        <p class="copy">University of Tehran All rights reserved</p>

        <nav class="foot-nav">
          <ul>
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/index.html" title="Home">Home</a></li>
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Recipes">Recipes</a></li>
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/blog.html" title="Blog">Blog</a></li>
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/contact.html" title="Contact">Contact</a></li>    
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/find_recipe.html" title="Search for recipes">Search for recipes</a></li>
            <li><a href="http://www.themeenergy.com/themes/html/social-chef/login.html" title="Login">Login</a></li>  <li><a href="http://www.themeenergy.com/themes/html/social-chef/register.html" title="Register">Register</a></li>                         
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
<!--//footer-->

<!--preloader-->
<div class="preloader" style="display: none;">
  <div class="spinner"></div>
</div>
<!--//preloader-->
<script>new WOW().init();</script>




</body></html>


