

<!--<p id="notice"><%= notice %></p>-->

<div class="col-md-12">
  <%=image_tag @profile.cover_photo_url, :class=>"img_cover_photo"%>
</div>
  
<div class="col-md-6">

  <%=image_tag @profile.profile_photo_url , :class=>"img_profile img-circle" %> 

  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

  <p>
    <strong>User:</strong>
    <%= @profile.user_id %>
  </p>

  <p>
    <strong>Profile photo:</strong>
    <%= @profile.profile_photo %>
  </p>

  <p>
    <strong>Cover photo:</strong>
    <%= @profile.cover_photo %>
  </p>
  <p>
    <strong>First Name:</strong>
    <%= @profile.first_name %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= @profile.last_name %>
  </p>
  <p>
    <strong>Gender:</strong>
    <%= @profile.gender %>
  </p>
  <% @profile.gardens.each do |k|  %>
  <%= k.name %> <%= link_to ' Edit', edit_garden_path(k) %>
  <%= link_to ' Destroy', garden_path(k), method: :delete, data: { confirm: 'Are you sure?' } %> 
  <% end %>

  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Back', profiles_path %>

</div>

<div class="col-md-6 well">
  
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  add new garden
</button>
  <!--@garden ro too controller tarif kardam , chon inja darim form garden ro seda mikonim bayad behesh ye
  object e new az garden tarif konim inja behesh pass bedim ke too profiles#show kardam in karo -->
</div>

<div class="col-md-12 well">
  number of Your gardens :
  <%= current_user.profile.gardens.count %>
<br>
  number of total plants in your gardens :
  <% number=0 %>
  <% current_user.profile.gardens.each do |g| %>
    <% number += g.plants.count %>
  <% end %>
  <%= number %>
</div>


<!-- Modal for Creating Garden-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creat New Garden</h4>
      </div>
      <div class="modal-body">
        <%= render "gardens/form" , :object => @garden %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>