<!DOCTYPE html>
<html>
	<!--main-->
	<main class="main" role="main">
		<!--intro-->
		<div class="intro">

			<figure class="bg"><img src="/assets/initial_image.jpg" alt="" /></figure>
			<!--wrap-->
			<div class="wrap clearfix">
				<!--row-->
				<div class="row">
					<article class="three-fourth text wow zoomIn" data-wow-delay=".2s">

						<h3 style="margin-right:21%;text-align:center; color:#C31108;">گلدان هوشمند</h3>
						<p class="bold_main make_right main_text main_text_margin">...این ها احساسات گیاه شماست</p>
						<p class="make_right main_text main_text_margin">   !من تشنه ام</p>
						<p class="make_right main_text main_text_margin">  !نور محیط مناسب من نیست</p>
						<p class="make_right main_text main_text_margin">  !رطوبت خاک ریشه های مرا اذیت می کند</p>
						<p class="make_right main_text main_text_margin">  !در طول شبانه روز تغییرات دما غیر قابل تحمل است</p>
						
						<a href="users/sign_up" class="button white  medium">!راه حل اینجاست</a>
					</article>
					<!--search recipes widget-->
					<div class="one-fourth wow fadeInDown" data-wow-delay=".5s">
						<div class="widget container">
							<div class="textwrap">
								<h3 class="make_center">گلدان هوشمند</h3>
								<img src="assets/img11.jpg">
								</br>
							</div>
								<%= form_for("user", :url => user_session_path) do |f| %>
                                    <%= f.text_field :email , :placeholder => "ایمیل"  , class: "make_center" %>
                                    </br>
                                    <%= f.password_field :password , :placeholder => "رمز عبور", class: "make_center" %>
								  </br>
								  </br>
								  <%#= f.label :remember_me %>
								  <%#= f.check_box :remember_me %>
								  <%= f.submit 'ورود به حساب کاربری', :class=>"b_farsi button sign_in_bt" %>
								  </br>
								  <div class="forget_text make_center">
								  </br>								  </br>

                                    <%= link_to "!رمز عبورم را فراموش کرده ام",forgot_password_initial_index_path %>
								  </div>
								<% end %>
								</br>

						</div>
					</div>
			</div>
			<!--//wrap-->
		</div>
		</div>
		<!--//intro-->
				
		<!--wrap-->
		<div class="wrap clearfix">

			<!--row-->
			<div class="row">
				<!--content-->
				<section class="content full-width">
					<div class="icons dynamic-numbers">
						<header class="s-title wow fadeInDown">
							<h2 class="garden_title make_bold">آمار و ارقام</h2>
						</header>
						
						<!--row-->
						<div class="row wow fadeInUp">
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="ico i-members"></i>
									<span class="title dynamic-number" data-dnumber="<%=User.all.count%>">0</span>
									<span class="subtitle">اعضاء</span>
								</div>
							</div>
							<!--//item-->
							
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="ico i-recipes"></i>
									<span class="title dynamic-number"
									 data-dnumber="<%= Planter.all.count %>">0</span>
									<span class="subtitle">گیاهان</span>
								</div>
							</div>
							<!--//item-->
							
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="ico i-photos"></i>
									<span class="title dynamic-number" 
									data-dnumber="">0</span>
									<span class="subtitle">تصاویر</span>
								</div>
							</div>
							<!--//item-->
							
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="ico i-posts"></i>
									<span 
									class="title dynamic-number" 
									data-dnumber="<%=Post.all.count%>">0</span>
									<span class="subtitle">‍‍‍
									سوالات
									</span>
								</div>
							</div>
							<!--//item-->
							
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="ico i-comment"></i>
									<span class="title dynamic-number" 
									data-dnumber="<%=Comment.all.count%>">0</span>
									<span class="subtitle">نظرات</span>
								</div>
							</div>
							<!--//item-->
							
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="ico i-articles"></i>
									<span 
									class="title dynamic-number"
									 data-dnumber="<%=Shoppe::Order.all.count %>">0</span>
									<span class="subtitle">خرید ها</span>
								</div>
							</div>
							<!--//item-->
						<!-- 
							<div class="cta">
								<a href="login.html" class="button big">Join us!</a>
							</div> -->
						</div>
						<!--//row-->
					</div>
				</section>
				<!--//content-->
				<!--content-->
				<section class="content fullWidth">
					<!--cwrap-->
					<div class="cwrap">
						<!--entries-->
						<div class="entries row">
							<!--featured recipe-->
							<div class="featured two-third wow fadeInLeft">
								<header class="s-title">
									<h2 class="make_center garden_title">باغچه برتر هفته</h2>
								</header>
								<article class="entry">
									<figure>
										<img src="/assets/img2.jpg" alt="" />
										<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
									</figure>
									<div class="container">
										<h2 class="make_right"><a href="recipe.html">بونسای</a></h2>
										<p class="make_right">
										.در این باغچه سه بونسای پرورش داده می شود که شامل: ۱- بونسای ختمی ۲- بونسای پیچ گلیسین ۳- افرا پالماتوم دیسکویو (بونسای) است
										<a href="#">ضریب  سلامت</a> هرکدام از این بونسای ها به ترتیب ۸۰٪ - ۸۵٪ و ۹۵٪ است
										</p>
										<div class="actions">
											<div>
												<a href="#" class="button">نمایش باغچه برتر</a>
												<div class="more"><a href="recipes2.html">باغچه های برتر بعدی</a></div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<!--//featured recipe-->
							
							<!--featured member-->
							<div class="featured one-third wow fadeInLeft" data-wow-delay=".2s">
								<header class="s-title">
									<h2 class="ribbon star">Featured member</h2>
								</header>
								<header class="s-title">
									<h2 class="make_center garden_title">باغچه دار برتر</h2>
								</header>
								<article class="entry">
									<figure>
										<img src="/assets/avatar6.jpg" alt=""  width="100%"/>
										<figcaption><a href="my_profile.html">
                                          <i class="ico i-view">

                                          </i>
                                          <span>View member</span></a></figcaption>
									</figure>
									<div class="container">
										<h2 class="make_right"><a href="my_profile.html">علیرضا پاک نیت</a></h2>
										<blockquote class="make_right">
											...من از گل هام مثل بچه هام مراقبت میکنم
											</br>
											مرسی از گلدان هوشمند
										</blockquote>
										<div class="actions">
											<div>
												<a href="#" class="button">دیدن پروفایل باغچه دار برتر</a>
												<div class="more"><a href="#">نفرات برتر بعدی</a></div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<!--//featured member-->
						</div>
						<!--//entries-->
					</div>
					<!--//cwrap-->
				
					<!--cwrap-->
					<div class="cwrap">
						<header class="s-title">
							<h2 class="make_right title_in_middle">
							پر بازدید ترین سوالات
							</h2>
						</header>
						
						<!--entries-->
						<div class="entries row">
							<!--item-->
							<% Post.all.each do |post| %>
							<div class="entry one-fourth wow fadeInLeft">
								<figure>
									<!-- <img src="/assets/img6.jpg" alt="" /> -->
									<% if post.image.present? %>
									<%= image_tag post.image_url , style: "width: 100%;max-height: 225px; height: 225px;" %>
									<% else %>
									<img src="/assets/default_plant.png" alt="" />
									<% end %>
									<figcaption>
									<%= link_to post do %>
									<i class="ico i-view"></i> <span>
									<%= post.title %>
									</span>
									<% end %>
									</figcaption>
								</figure>
								<div class="container make_right">
									<h2>
									<%= link_to post do %>
									<%= post.content %>
									<% end %>
									</h2> 
									<div class="actions">
										<div>
											<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
											<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
											<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">
											<%= post.comments.count %>
											</a></div>
										</div>
									</div>
								</div>
							</div>
							<% end %>
							<!--item-->
							
							<div class="quicklinks">
							<%= link_to "همه سوالات" , posts_path , class: "button" %>
								<a href="javascript:void(0)" class="button scroll-to-top">برگشت به بالا</a>
							</div>
						</div>
						<!--//entries-->
					</div>
					<!--//cwrap-->
				
					<!--cwrap-->
					<div class="cwrap">
						<header class="s-title">
							<h2 class="make_right title_in_middle">
							محصولات اخیر
							<%= link_to "فروشگاه" , store_show_path%>
							</h2>
						</header>
						<!--entries-->
						<div class="entries row">
						<% Shoppe::Product.all.each do |prod| %>
							<!--item-->
							<div class="entry one-fourth wow fadeInLeft">
								<figure>
								<% if prod.default_image.present? %>
									<%= image_tag prod.default_image.path , style: "width: 100%;max-height: 225px; height: 225px;" %>
								<% else %>
									<img src="/assets/img12.jpg" alt="" />
								<% end %>
									<figcaption>
									<%= link_to product_path(prod.product_category.permalink, prod.permalink) do %>
									<i class="ico i-view">'
									</i>
									<span>
									<%= prod.name %>
									</span>
									<% end %>
									</figcaption>
								</figure>
								<div class="container make_center">
									<h2>
									<%= link_to prod.name , product_path(prod.product_category.permalink, prod.permalink)%>
									</h2> 
									<div class="actions">
										<div>
											<div class="date">
											<i class="ico i-date">	
											</i>
											<b>
											<% cat = Shoppe::ProductCategorization.where(:product_id => prod.id).first.product_category %>
											<%= link_to cat.name , products_path(cat.permalink) %>
											</b>
											<a href="#">
											</a>
											</div>
											<div class="comments">
											<i class="ico i-comments"></i>
											<%=number_to_currency prod.price%>
											</div>
										</div>
									</div>
									<div class="excerpt make_center">
										<p></p>
										<p>
										<%= prod.description %>
										</p>
									</div>
								</div>
							</div>
						<% end %>
							<!--item-->
							
							<div class="quicklinks">
								<a href="#" class="button">مقالات بیشتر</a>
								<a href="javascript:void(0)" class="button scroll-to-top">بازگشت به بالا</a>
							</div>
						</div>
						<!--//entries-->
					</div>
					<!--//cwrap-->
				</section>
				<!--//content-->
					
			<!--//right sidebar--> 
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->

</html>


