<p id="notice"><%= notice %></p>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<p class="make_center make_bold" style="">
<%= @planter.name%>
</p>
<div class="one-third wow fadeInDown animated modal">
  <%if @planter.image_1.present?%>
  <%=image_tag @planter.image_1_url , :width => "48%", :class=>"image_in_planter"  %>
  <% end %>

  <%if @planter.image_2.present?%>
  <%=image_tag @planter.image_2_url , :width => "48%", :class=>"image_in_planter"  %>
  <% end %>

  <%if @planter.image_3.present?%>
  <%=image_tag @planter.image_3_url , :width => "48%", :class=>"image_in_planter"  %>
  <% end %>

  <%if @planter.image_4.present?%>
  <%=image_tag @planter.image_4_url , :width => "48%", :class=>"image_in_planter"  %>
  <% end %>
  </div>


<p class="make_bold" style="direction:rtl; color:rgb(169, 52, 52); margin:0 5% 0 5%;text-align: justify;">
  <strong style="color:rgb(17, 45, 76); font-size:25px;">درباره ی این گل:</strong>
  </br>
  </br>
  </br>
  <%= @planter.brief_desc %>
</p>

<div class="wow animated fadeInRight" style="padding:0 5% 0 5%;">

<p class="make_bold make_right" style="color:rgb(17, 45, 76);; font-size:20px; ">اطلاعات تخصصی گیاه</p>

<dl class="basic fullWidth">
  <dt style="text-align:center"><span class="tb_in_plant">نام</span></dt>
  <dd ><%= @planter.name%></dd>
  <dt style="text-align:center" > <span class="tb_in_plant">
    نژاد
  </span>
  </dt>
  <dd><%= @planter.race%></dd>
  <dt class="make_center"><span class="tb_in_plant">دمای فعلی</span></dt>
  <dd><%= @planter.temperature%></dd>
  <dt class="make_center"><span class="tb_in_plant">رطوبت خاک</span></dt>
  <dd><%= @planter.humidity_soil%></dd>
  <dt class="make_center"><span class="tb_in_plant">رطوبت محیط</span></dt>
  <dd><%= @planter.humidity_air%></dd>
  <dt class="make_center"><span class="tb_in_plant">نور محیط</span></dt>
  <dd><%= @planter.light_degree%></dd>
  <dt class="make_center"><span class="tb_in_plant">صفحه اصلی این گیاه</span></dt>
  <dd><%= link_to 'صفحه ی گیاه شمعدانی' , planter_path(Planter.find(2) , :class=>"button")%></dd>
</dl>
</div>






<section class="content center full-width wow fadeInDown animated style="visibility: visible;"">
<div class="modal container new_forms">

<% @planter.comments.each do |cmnt| %>

<div class="comment_box">
<p class="make_bold make_right">
  <%= cmnt.content %>
</p>
<p class="user_name_cm">
  <%= cmnt.user.profile.first_name %>
  <%= cmnt.user.profile.last_name %>
</p>
<%if has_auth(cmnt)%>
  <%= link_to 'حذف نظر', cmnt, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"b_farsi btn btn-danger btn-xs" %>
<%end%>
<p class="make_right"><%= cmnt.created_at %></p>

</div>

<% end %>


<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :commentable_id , :value => @planter.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :commentable_type  , :value =>"Planter"%>
  </div>
<div class="field  make_center">
    <%= f.label :نظرات , :class=>"make_bold"%><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit  'ثبت نظر' , :class=>"cm_bt button" %>
  </div><% end %>
</div>
</section>

<%= link_to 'Edit', edit_planter_path(@planter) %> 
<%= link_to '<<بازگشت', profile_path(current_user),:class=>"button" %>
