<title>
  فروشگاه|<%=@planter.name%>
</title>
<div class="main" role="main">
  <div class="wrap clearfix">
    <div class="row">

      <head class="s-title wow fadeInLeft animated" style="visibility: visible;">
        <h1 class="make_center"> <%=@planter.name%></h1>
      </head>

      <div id="post-form" style="display:none;"></div>

      <!--content-->
      <section class="content three-fourth">

        <!--pot-->
        <div class="recipe">

          <div class="row">
            <!--two-third-->
            <article class="two-third wow fadeInLeft animated" style="visibility: visible;">
              <div class="image">
                <%=image_tag @planter.image_1_url%>
              </div>

              <div class="intro">
                <p class="make_right">:در مورد این گیاه</p>
                <p class="make_right"><%= @planter.brief_desc %></p>
              </div>

              <div class="one-third">
                <%=image_tag @planter.image_2_url%>
              </div>

              <div class="one-third">
                <%=image_tag @planter.image_3_url%>
              </div>

              <div class="one-third">
                <%=image_tag @planter.image_4_url%>
              </div>
            </article>
            <!--//two-third-->

            <!--one-third-->
            <article class="one-third wow fadeInDown animated" style="visibility: visible;">
              <div class="one-one">
                <a href="/planters/<%=@planter.id%>/follow" class=" btn btn-info<% if current_user.following?(@planter)%> invis <%else%> visible <%end%>" data-remote="true" id="follow_butt"
                <i class="">این گیاه را دنبال کن</i>
                </a>

                <a href="/planters/<%=@planter.id%>/unfollow" class="btn btn-warning <% if current_user.following?(@planter)%> visible <%else%> invis <%end%>" data-remote="true"  id="unfollow_butt"
                <i class="">این گیاه را دنبال نکن</i>
                </a>
              </div>
              <!--make post-->
              <br>
              <div class="one-one">
                <%=link_to "پست در مورد این گیاه" , new_post_path(:planter_id=>@planter.id), :class=>"button", :remote=>true%>
              </div>

              <!--//make post-->

              <br>

              <dl class="basic">

                <dt class="make_center">نژاد</dt>
                <dd><%= @planter.race%></dd>

                <dt class="make_center">ارتفاع</dt>
                <dd><%= @planter.height %></dd>

                <dt class="make_center">رطوبت هوا</dt>
                <dd><%= @planter.humidity_air%></dd>

                <dt class="make_center">رطوبت خاک</dt>
                <dd><%= @planter.humidity_soil%></dd>

                <dt class="make_center">دما</dt>
                <dd><%= @planter.temperature%></dd>

                <dt class="make_center">نور</dt>
                <dd><%= @planter.light_degree%></dd>



              </dl>

              <dl class="user">
                <dt class="make_center">تعداد کامنت ها</dt>
                <dd class="make_center"><%=@planter.comments.count%></dd>
                <dt class="make_center">علاقه مندان</dt>
                <dd><!--followers count must put here--></dd>
              </dl>
              <h2 class="make_center">نفرات برتر در نگهداری <%=@planter.name%></h2>
              <dl class="ingredients">
                <dt calss="make_center">میزان سلامت</dt>
                <dd ><p calss="make_center"><%=@planter.name%> کاربران برتر</p></dd>
                <dt>80%</dt>
                <dd>user_profile_link0</dd>
                <dt>50%</dt>
                <dd>user_profile_link1</dd>
                <dt>42%</dt>
                <dd>user_profile_link2</dd>
                <dt>33.1%</dt>
                <dd>user_profile_link3</dd>
              </dl>

            </article>
            <!--//one-third-->
          </div>

        </div>
        <!--//pot-->

        <!--comments-->
        <section class="modal wow one-one fadeInLeft animated" style="visibility: visible; display:table; margin:0 auto;">
          <div class=" container new_forms">
            <p class="make_bold" style="color:#f4716a;">نظرات کاربران</p>

            <%= form_for(@comment) do |f| %>
                <% if @comment.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                      <ul>
                        <% @comment.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>

                <div class="field">
                  <%= f.hidden_field :commentable_id , :value => @planter.id %>
                </div>
                <div class="field">
                  <%= f.hidden_field :commentable_type  , :value =>"Planter"%>
                </div>
                <div class="field  make_center">
                  <%= f.text_area :content %>
                </div>
                <div class="actions">
                  <%= f.submit  'ثبت نظر' , :class=>"cm_bt button" %>
                </div>
            <% end %>
          </div>
        </section>

        <div class="comments">
          <br>
          <% @planter.comments.each do |cmnt| %>

              <ol class="commetn-list three-fourth">

                <li class="comment byuser comment-author-test99899 even thread-even depth-1 clearfix">

                  <div class="avatar">
                    <!-- user profile picture must set in here -->
                    <% if cmnt.user.profile.profile_photo.present?%>
                        <%=image_tag cmnt.user.profile.profile_photo_url%>
                    <%else %>
                        <%=image_tag "default_plant.png"%>
                    <%end%>
                  </div>
                  <div class="comment-box" style="padding:1%">

                    <div class="comment-author meta make_right">
                      <!-- info about commenter-->
                      <%= cmnt.user.profile.first_name %>
                      <%= cmnt.user.profile.last_name %>
                      <%if has_auth(cmnt)%>
                          <%= link_to 'حذف نظر', cmnt, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"b_farsi btn btn-danger btn-xs" %>
                      <%end%>
                      <p class="make_right"><%= cmnt.created_at %></p>
                    </div>

                    <div class="comment-text">
                      <!-- comment content must set here-->
                      <p><%= cmnt.content %></p>
                    </div>

                  </div>

                </li>

              </ol>
          <% end %>
        </div>
        <!--//comments-->

      </section>
      <!--//content-->

      <!--right sidebar-->
      <aside class="sidebar one-fourth wow fadeInRight animated" style="visibility: visible;">
        <div class="widget nutrition">
          <h3 class="make_right">
            اطلاعات تکمیلی گیاه
          </h3>
          <table>
            <tbody>
            <tr>
              <td>میزان PH</td>
              <td>120</td>
            </tr>
            <tr>
              <td>میزان PH</td>
              <td>120</td>
            </tr>
            <tr>
              <td>میزان PH</td>
              <td>120</td>
            </tr>
            <tr>
              <td>میزان PH</td>
              <td>120</td>
            </tr>
            <tr>
              <td>میزان PH</td>
              <td>120</td>
            </tr>
            <tr>
              <td>میزان PH</td>
              <td>120</td>
            </tr>
            <tr>
              <td>میزان PH</td>
              <td>120</td>
            </tr>
            <tr>
              <td>میزان PH</td>
              <td>120</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="widget share">
          <ul class="boxed">
            <li class="light">
              <a href="#" title="Facebook"><i class="ico i-facebook"></i> <span>Share on Facebook</span></a>
            </li>
            <li class="medium">
              <a href="#" title="Twitter"><i class="ico i-twitter"></i> <span>Share on Twitter</span></a>
            </li>
            <li class="dark">
              <a href="#" title="Favourites"><i class="ico i-favourites"></i> <span>Add to Favourites</span></a>
            </li>
          </ul>
        </div>

        <div class="widget members">
          <h3 class="make_right">افراد دنبال کننده ی این گیاه</h3>
          <ul class="boxed">
            <% @followers.each do |x| %>
                <li>
                  <div class="avatar">
                    <% prof = User.find(x.follower_id).profile %>
                    <%= link_to profile_path(prof) do %>
                        <%= image_tag prof.profile_photo_url %>
                        <span>
                        <%= prof.first_name %>
                      </span>
                        <!--<a href="my_profile.html">-->
                        <!--<%= image_tag "avatar1.jpg" %>-->
                        <!--<span>Kimberly C.</span>-->
                        <!--</a>-->
                    <% end %>
                  </div>
                </li>
            <% end %>

            <!--<li><div class="avatar"><a href="my_profile.html">-->
              <!--<%= image_tag "avatar2.jpg" %>-->
              <!--<span>Alex J.</span></a></div></li>-->
            <!--<li><div class="avatar"><a href="my_profile.html">-->
              <!--<%= image_tag "avatar3.jpg" %>-->
              <!--<span>Denise M.</span></a></div></li>-->
            <!--<li><div class="avatar"><a href="my_profile.html">-->
              <!--<%= image_tag "avatar9.jpg" %>-->
              <!--<span>Jason H.</span></a></div></li>-->
            <!--<li><div class="avatar"><a href="my_profile.html">-->
              <!--<%= image_tag "avatar8.jpg" %>-->
              <!--<span>Jennifer W.</span></a></div></li>-->
            <!--<li><div class="avatar"><a href="my_profile.html">-->
              <!--<%= image_tag "avatar4.jpg" %>-->
              <!--<span>Anabelle Q.</span></a></div></li>-->
            <!--<li><div class="avatar"><a href="my_profile.html">-->
              <!--<%= image_tag "avatar7.jpg" %>-->
              <!--<span>Thomas M.</span></a></div></li>-->
            <!--<li><div class="avatar"><a href="my_profile.html">-->
              <!--<%= image_tag "avatar5.jpg" %>-->
              <!--<span>Michelle S.</span></a></div></li>-->
            <!--<li><div class="avatar"><a href="my_profile.html">-->
              <!--<%= image_tag "avatar6.jpg" %>-->
              <!--<span>Bryan A.</span></a></div></li>-->
          </ul>
        </div>
        <!--posts table-->
        <div class="widget widget-sidebar">
          <!--cwrap-->
          <div class="cwrap">
            <h5 class="make_center">پست های اخیر</h5>
            <%@planter.posts.each do |pos|%>
                <ul class="articles_latest">
                  <li>
                    <a>
                      <%if pos.image_url.present?%>
                          <%=image_tag(pos.image_url)%>
                      <%else%>
                          <%=image_tag("img11.jpg")%>
                      <%end%>
                    </a>
                    <%=link_to pos.title , pos%>
                  </li>
                </ul>
            <%end%>
          </div>
          <!--//cwrap-->
        </div>
        <!--//posts table-->

      </aside>
      <!--//right sidebar-->
    </div>

  </div>
</div> <!--end of main-->
