<p id="notice"><%= notice %></p>
</br>
</br>
</br>
</br>
</br>
<div class="one-third wow fadeInDown animated modal">
  <%if @planter.image_1.present?%>
  <%=image_tag @planter.image_1_url , :width => "48%", :class=>"image_in_planter"  %>
  <% end %>

  <%if @planter.image_2.present?%>
  <%=image_tag @planter.image_2_url , :width => "48%", :class=>"image_in_planter"  %>
  <% end %>

  <%if @planter.image_3.present?%>
  <%=image_tag @planter.image_3_url , :width => "48%", :class=>"image_in_planter"  %>
  <% end %>

  <%if @planter.image_4.present?%>
  <%=image_tag @planter.image_4_url , :width => "48%", :class=>"image_in_planter"  %>
  <% end %>
  </div>

<p class="make_bold">
  <strong>:درباره ی این گل</strong>
  </br>
  <%= @planter.brief_desc %>
</p>

<%= link_to 'Edit', edit_planter_path(@planter) %> 
<%= link_to '<<بازگشت', profile_path(current_user),:class=>"button" %>



<section class="content center full-width wow fadeInDown animated style="visibility: visible;"">
<div class="modal container new_forms">

<% @planter.comments.each do |cmnt| %>

<div class="comment_box">
<p class="make_bold">
  <%= cmnt.content %>
</p>
<p class="user_name_cm">
  <%= cmnt.user.profile.first_name %>
  <%= cmnt.user.profile.last_name %>
</p>
<p class="make_right"><%= cmnt.created_at %></p>

</div>

<% end %>


<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :commentable_id , :value => @planter.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :commentable_type  , :value =>"Planter"%>
  </div>
<div class="field  make_center">
    <%= f.label :نظرات , :class=>"make_bold"%><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit  'ثبت نظر' , :class=>"cm_bt button" %>
  </div><% end %>
</div>
</section>
