<title>
  فروشگاه|<%=@planter.name%>
</title>

<div class="main" role="main">
  <div class="wrap clearfix">
    <div class="row">

      <head class="s-title wow fadeInLeft animated" style="visibility: visible;">
        <h1 class="make_center"> <%=@planter.name%></h1>
      </head>

      <div id="post-form" style="display:none;"></div>

      <!--content-->
      <section class="content three-fourth">

        <!--pot-->
        <div class="recipe">

          <div class="row">
            <!--two-third-->
            <article class="two-third wow fadeInLeft animated" style="visibility: visible;">
              <div class="image">
                <%=image_tag @planter.image_1_url%>
              </div>

              <div class="intro make_right">
                <p >:در مورد این گیاه</p>
                <p style="direction: rtl;"><%= @planter.brief_desc %></p>
              </div>

              <div class="one-third">
                <%=image_tag @planter.image_2_url%>
              </div>

              <div class="one-third">
                <%=image_tag @planter.image_3_url%>
              </div>

              <div class="one-third">
                <%=image_tag @planter.image_4_url%>
              </div>
            </article>
            <!--//two-third-->

            <!--one-third-->
            <article class="one-third wow fadeInDown animated" style="visibility: visible;">
<!--               <div class="one-one">
                
                <a href="/planters/<%=@planter.id%>/follow" class=" btn btn-info<% if current_user.following?(@planter)%> invis <%else%> visible <%end%>" data-remote="true" id="follow_butt"
                <i class="">این گیاه را دنبال کن</i>
                </a>

                <a href="/planters/<%=@planter.id%>/unfollow" class="btn btn-warning <% if current_user.following?(@planter)%> visible <%else%> invis <%end%>" data-remote="true"  id="unfollow_butt"
                <i class="">این گیاه را دنبال نکن</i>
                </a>
              </div> -->
              <!--make post-->

              <br>
              <div style="direction: rtl;">
                <%=link_to "سوال، مطلب یا نکته ای بنویسید .." , new_post_path(:planter_id=>@planter.id), :class=>"btn btn-default btn-block", :remote=>true%>
              </div>

              <!--//make post-->

              <br>

              <dl class="basic make_center">

              <% if @planter.latin_name.present? %>
                <dt><%= @planter.latin_name%></dt>
                <dd>نام لاتین</dd>
              <% end %>

              <% if @planter.second_name.present? %>
                <dt><%= @planter.second_name%></dt>
                <dd>نام دیگر</dd>
              <% end %>

                <% if @planter.humidity_air.present?  %>
                <dt><%= @planter.humidity_air%></dt>
                <dd>رطوبت هوا</dd>
                <% end %>

                <% if @planter.humidity_soil.present? %>
                <dt><%= @planter.humidity_soil%></dt>
                <dd>رطوبت خاک</dd>
                <% end %>

                <% if @planter.temperature.present? %>
                <dt><%= @planter.temperature%></dt>
                <dd>دما</dd>
                <% end %>


                <% if @planter.light_degree.present? %>
                <dt><%= @planter.light_degree%></dt>
                <dd>نور</dd>
                <% end %>

              </dl>

              <dl class="user make_center">
                <dt >تعداد کامنت ها</dt>
                <dd ><%=@planter.comments.count%></dd>
                <dt >علاقه مندان</dt>
                <dd><%= @followers.count%></dd>
              </dl>
              <h2 class="make_center" style="direction: rtl;">نفرات برتر در نگهداری <%=@planter.name%></h2>
              <dl class="ingredients make_center">
                <dt>میزان سلامت</dt>
                <dd>
                <p calss="make_center">
                 کاربران برتر</p></dd>
                <dt>80%</dt>
                <dd>user_profile_link0</dd>
                <dt>50%</dt>
                <dd>user_profile_link1</dd>
                <dt>42%</dt>
                <dd>user_profile_link2</dd>
                <dt>33.1%</dt>
                <dd>user_profile_link3</dd>
              </dl>

            </article>
            <!--//one-third-->
          </div>

        </div>
        <!--//pot-->

        <!--comments-->
        <section class="modal wow one-one fadeInLeft animated" style="visibility: visible; display:table; margin:0 auto;">
          <div class=" container new_forms">
            <p class="make_bold" style="color:#f4716a;">نظرات کاربران</p>

            <%= form_for(@comment) do |f| %>
                <% if @comment.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                      <ul>
                        <% @comment.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>

                <div class="field">
                  <%= f.hidden_field :commentable_id , :value => @planter.id %>
                </div>
                <div class="field">
                  <%= f.hidden_field :commentable_type  , :value =>"Planter"%>
                </div>
                <div class="field  make_center">
                  <%= f.text_area :content %>
                </div>
                <div class="actions">
                  <%= f.submit  'ثبت نظر' , :class=>"cm_bt button" %>
                </div>
            <% end %>
          </div>
        </section>

        <div class="comments">
          <br>
          <% @planter.comments.each do |cmnt| %>

              <ol class="commetn-list three-fourth">

                <li class="comment byuser comment-author-test99899 even thread-even depth-1 clearfix">

                  <div class="avatar">
                    <!-- user profile picture must set in here -->
                    <% if cmnt.user.profile.profile_photo.present?%>
                        <%=image_tag cmnt.user.profile.profile_photo_url%>
                    <%else %>
                        <%=image_tag "default_plant.png"%>
                    <%end%>
                  </div>
                  <div class="comment-box" style="padding:1%">

                    <div class="comment-author meta make_right">
                      <!-- info about commenter-->
                      <%= cmnt.user.profile.first_name %>
                      <%= cmnt.user.profile.last_name %>
                      <%if has_auth(cmnt)%>
                          <%= link_to 'حذف نظر', cmnt, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"b_farsi btn btn-danger btn-xs" %>
                      <%end%>
                      <p class="make_right"><%= cmnt.created_at %></p>
                    </div>

                    <div class="comment-text">
                      <!-- comment content must set here-->
                      <p><%= cmnt.content %></p>
                    </div>

                  </div>

                </li>

              </ol>
          <% end %>
        </div>
        <!--//comments-->

      </section>
      <!--//content-->

      <!--right sidebar-->
      <aside class="sidebar one-fourth wow fadeInRight animated" style="visibility: visible;">
        <div class="widget nutrition">
          <h3 class="make_right">
            اطلاعات تکمیلی گیاه
          </h3>
          <table class="make_right">
            <tbody>
            <% if @planter.germination.present? %>
            <tr>
              <td style="direction:rtl;">
                <%= @planter.germination %>
              </td>
              <td>نحوه تکثیر</td>
            </tr>
            <% end %>

            <% if @planter.plague.present? %>
            <tr>
              <td style="direction:rtl;"><%= @planter.plague%></td>
              <td>آفت ها</td>
            </tr>

            <% end %>
            <% if @planter.keeping.present? %>
            <tr>
              <td style="direction:rtl;"><%=@planter.keeping %></td>
              <td>نحوه نگهداری</td>
            </tr>
            <% end %>


            </tbody>
          </table>
        </div>

        <div class="widget share">
          <ul class="boxed">
            <li class="light">
              <a href="#" title="Facebook"><i class="ico i-facebook"></i> <span>Share on Facebook</span></a>
            </li>
            <li class="medium">
              <a href="#" title="Twitter"><i class="ico i-twitter"></i> <span>Share on Twitter</span></a>
            </li>
            <li class="dark">
              <a href="/planters/<%=@planter.id%>/follow" class="<% if current_user.following?(@planter)%> invis <%else%> visible <%end%>" title="Favourites">
              <i class="ico i-favourites "></i>
               <span>اضافه به علاقه ها</span>
              </a>

              <a href="/planters/<%=@planter.id%>/unfollow" class="<% if current_user.following?(@planter)%> visible <%else%> invis <%end%>" title="Favourites">
              <i class="ico i-favourites"></i>
               <span>حذف از علاقه ها</span>
              </a>

            </li>
          </ul>
        </div>

        <% if @followers.present? %>
        <div class="widget members">
          <h3 class="make_right">افراد دنبال کننده ی این گیاه</h3>
          <ul class="boxed">
            <% @followers.first(15).each do |x| %>
                <li>
                  <div class="avatar">
                    <% prof = User.find(x.follower_id).profile %>
                    <%= link_to profile_path(prof) do %>
                        <%= image_tag prof.profile_photo_url %>
                        <span>
                        <%= prof.first_name %>
                      </span>
                        <!--<a href="my_profile.html">-->
                        <!--<%= image_tag "avatar1.jpg" %>-->
                        <!--<span>Kimberly C.</span>-->
                        <!--</a>-->
                    <% end %>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <!--posts table-->
        <div class="widget widget-sidebar">
          <!--cwrap-->
          <div class="cwrap">
            <h5 class="make_center">پست های اخیر</h5>
            <%@planter.posts.each do |pos|%>
                <ul class="articles_latest">
                  <li>
                    <a>
                      <%if pos.image_url.present?%>
                          <%=image_tag(pos.image_url)%>
                      <%else%>
                          <%=image_tag("img11.jpg")%>
                      <%end%>
                    </a>
                    <%=link_to pos.title , pos%>
                  </li>
                </ul>
            <%end%>
          </div>
          <!--//cwrap-->
        </div>
        <!--//posts table-->

      </aside>
      <!--//right sidebar-->
    </div>

  </div>
</div> <!--end of main-->
