<% for product in products.includes(:default_image, :product_categories) %>
    <li style="float: right;
            margin: 0 3.8% 2.992em 0;
            padding: 1%;
            position: relative;
            width: 24.05%;
            background: #fff; text-align: center; ">
      <%=link_to product_path(product.product_category.permalink, product.permalink) do %>
          <!--<span class="onsale">فروش!</span>-->
          <% if product.default_image.present? %>
              <%= image_tag product.default_image.path , width: "300",height: "300" %>
              <h3 class="make_center">
                <%= product.name %>
              </h3>
              <span style="font-weight: 600;font-size: 18px;padding: 0 20px;color: #454545;">
                <%= number_to_currency product.price%>
              </span>
          <% else %>
              <img width="300" height="300" src="assets/slide2.jpg" class="attachment-shop_catalog wp-post-image">
              <h3>
                <%=product.name %>
              </h3>
          <% end %>
      <% end %>
      <br>
      <%= link_to "اضافه به سبد", buy_product_path(product.product_category.permalink, product.permalink), :class => 'btn btn-xs btn-success', :method => :post %>
    </li>
<% end %>


