<section class="content center full-width wow fadeInDown animated style="visibility: visible;"">
<div class="modal container new_forms">
<%= form_for @plant , html: { multipart: true } do |f| %>
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-7">
  <div class="form-group">

    <p class="make_right">باغچه مورد نظر</p>
    <% if @garden.present?%>
        <%= hidden_field_tag :garden_id , @garden.id %>
        <span> <%= @garden.name %> </span>
    <% else %>
    <%= select_tag :garden_id ,options_from_collection_for_select(current_user.profile.gardens,"id" , "name") %>
        <% end %>
  </div>

  <div class="form-group">

  <p class="make_right">نام گیاه</p>
    <%= select_tag :planter_id ,options_from_collection_for_select(Planter.all,"id" , "name") %> 
  </div>

  <div class="field">
    <p class="make_right">سن گیاه</p>
    <%= f.number_field :age%>
  </div>
  <div class="field">
    <p class="make_right">ارتفاع گیاه</p>
    <%= f.number_field :height%>
  </div>
  <!--
  <div class="field">
    <%#= f.label :temperature %><br>
    <%#= f.text_field :temperature%>
  </div>
  <div class="field">
    <%#= f.label :humidity_soil %><br>
    <%#= f.text_field :humidity_soil%>
  </div>
  <div class="field">
    <%#= f.label :humidity_air %><br>
    <%#= f.text_field :humidity_air%>
  </div>
  <div class="field">
    <%#= f.label :light_degree %><br>
    <%#= f.text_field :light_degree%>
  </div>
  <div class="field">
    <%#= f.label :health_factor %><br>
    <%#= f.text_field :health_factor%>
  </div>
  -->

  <div class="field">
    <p class="make_right">یک تصویر از گیاه</p>
    <form id="form1" runat="server">
      <div style="display:table; margin:0 auto; width:50%; height:auto;">
          <img id="blah" src="/assets/default_plant.png" alt="your image" />
          <%= f.file_field :image , :id=>"imgInp"%>  
      </div>
    </form>
  <p>
    <label>
      <%= f.check_box :remove_image %>
      Remove avatar
      </label>
  </p>
  </div>

  <div class="field">
    <p class="make_right">توضیحاتی مختصر برای گیاه</p>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit 'اضافه کردن گیاه به باغچه' , :class=>"far_class b_farsi tool_plant_creat"%>
  </div>
<% end %>
</div>
</div>
</section>


<script type="text/javascript">
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });

</script>