<p id="notice"><%= notice %></p>
</br>
</br>
</br>
</br>
</br>

<%= link_to 'صفحه ی گیاه شمعدانی' , planter_path(Planter.find(2) , :class=>"button")%>

<div class="row">


  <% if @plant.image.present? %>
      <%=image_tag @plant.image_url, :class=>"modal plant_profile_pic content center full-width wow fadeInDown animated"%>
      <%else %>
      <%=image_tag "default_plant.png", :class=>"plant_profile_pic 
       center full-width wow fadeInDown animated"%>
  <%end%>  
</div>

<section class="modal info_component content center wow fadeInDown animated style="visibility: visible;"">

<div>
<p class="for_inner_text">
  <h3>نام گیاه:</h3>
  <%= @plant.name %>
</p>
</div>

<div>
<p class="for_inner_text">
  <h3>نژاد:</h3>
  <%= @plant.race %>
</p>
</div>

<div>
<p class="for_inner_text">
  <h3>سن:</h3>
  <%= @plant.age %>
</p>
</div>

<div>
<p class="for_inner_text">
  <h3>قد:</h3>
  <%= @plant.height %>
</p>
</div>

<div>
<p class="for_inner_text">
  <h3>دمای فعلی:</h3>
  <%= @plant.temperature %>
</p>
</div>

<div>
<p class="for_inner_text">
  <h3>رطوبت خاک:</h3>
  <%= @plant.humidity_soil %>
</p>
</div>

<div>
<p class="for_inner_text">
  <h3>رطوبت محیط:</h3>
  <%= @plant.humidity_air %> %
</p>
</div>

<div>
<p class="for_inner_text">
  <h3>نور محیط:</h3>
  <%= @plant.light_degree %> 
</p>
</div>

<div>
<p class="for_inner_text">
  <h3>میزان سلامت:</h3>
  <%= @plant.health_factor %>
</p>
</div>

<div>
<p class="for_inner_text">
  <h3>توضیحات:</h3>
  <%= @plant.description %>
</p>
</div>

<%= link_to 'تنظیمات', edit_plant_path(@plant) ,:class=>"for_inner_text"%> |
<%= link_to 'بازگشت', profile_path(current_user) ,:class=>"for_inner_text"%>

</section>
<section class="content center full-width wow fadeInDown animated style="visibility: visible;"">
<div class="modal container new_forms">

<% @plant.comments.each do |cmnt| %>

<div class="comment_box">
<p class="make_bold">
  <%= cmnt.content %>
</p>

<p class="user_name_cm">
  <%= cmnt.user.profile.first_name %>
  <%= cmnt.user.profile.last_name %>
</p>

<%if has_auth(cmnt)%>
  <%= link_to 'حذف نظر', cmnt, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"b_farsi btn btn-danger btn-xs" %>
<%end%>
<p class="make_right"><%= cmnt.created_at %></p>

</div>

<% end %>


<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :commentable_id , :value => @plant.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :commentable_type  , :value =>"Plant"%>
  </div>
  <div class="field  make_center">
    <%= f.label :نظرات , :class=>"make_bold"%><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit  'ثبت نظر' , :class=>"cm_bt button" %>
  </div>
<% end %>
</div>
</section>
