<p id="notice"><%= notice %></p>
</br>
</br>
</br>
</br>
</br>
<div class="row">
  <% if @plant.image.present? %>
      <%=image_tag @plant.image_url, :class=>"modal plant_profile_pic content center full-width wow fadeInDown animated"%>
      <%else %>
      <%=image_tag "default_plant.png", :class=>"plant_profile_pic 
       center full-width wow fadeInDown animated"%>
  <%end%>  
</div>
<section class="modal info_component content center wow fadeInDown animated style="visibility: visible;"">

<div>
<p class="for_inner_text">
  <strong>Name:</strong>
  <%= @plant.name %>
</p>
</div>

<div>
<p class="for_inner_text">
  <strong>Race:</strong>
  <%= @plant.race %>
</p>
</div>

<div>
<p class="for_inner_text">
  <strong>Age:</strong>
  <%= @plant.age %>
</p>
</div>

<div>
<p class="for_inner_text">
  <strong>Height:</strong>
  <%= @plant.height %>
</p>
</div>

<div>
<p class="for_inner_text">
  <strong>Temperature:</strong>
  <%= @plant.temperature %>
</p>
</div>

<div>
<p class="for_inner_text">
  <strong>Humidity soil:</strong>
  <%= @plant.humidity_soil %>
</p>
</div>

<div>
<p class="for_inner_text">
  <strong>Humidity air:</strong>
  <%= @plant.humidity_air %>
</p>
</div>

<div>
<p class="for_inner_text">
  <strong>Light degree:</strong>
  <%= @plant.light_degree %>
</p>
</div>

<div>
<p class="for_inner_text">
  <strong>Health factor:</strong>
  <%= @plant.health_factor %>
</p>
</div>

<div>
<p class="for_inner_text">
  <strong>Description:</strong>
  <%= @plant.description %>
</p>
</div>

<%= link_to 'Edit', edit_plant_path(@plant) ,:class=>"for_inner_text"%> |
<%= link_to 'Back', profile_path(current_user) ,:class=>"for_inner_text"%>

</section>
<section class="content center full-width wow fadeInDown animated style="visibility: visible;"">
<div class="modal container new_forms">

<% @plant.comments.each do |cmnt| %>
<div class="comment_box">
<p class="make_bold">
  <%= cmnt.content %>
</p>

<p class="user_name_cm">
  <%= cmnt.user.profile.first_name %>
</p>

</div>

<% end %>


<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :commentable_id , :value => @plant.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :commentable_type  , :value =>"Plant"%>
  </div>
  <div class="field  make_center">
    <%= f.label :نظرات , :class=>"make_bold"%><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit  'ثبت نظر' , :class=>"cm_bt button" %>
  </div>
<% end %>
</div>
</section>
