 <body class = "init_body">

  <div class = "log_components">
  
  <div class="logo_story">
  
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class= "email_box field">
    <%= f.label :email, :class=>"label_color" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>


  <div class="pass_box field">
    <%= f.label :password, :class=>"label_color" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class= "rem_box field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, :class=>"label_color" %>
    </div>
  <% end -%>

  <div class="log_in_button actions">
    <%= f.submit "Log in", :class=>"btn btn-default" %>
  </div>
<% end %>

<div class = "forgot">
<%= render "devise/shared/links" %>
</div>

</div>


<div class="end_box">
    <div class="sign_up_box sign_up_in_rout">

    <h2 class="center_box label_color">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="center_box field">
        <%= f.label :email, :class=>"label_color" %><br />
        <%= f.email_field :email, autofocus: true%>
      </div>

      <div class="center_box field">
        <%= f.label :password, :class=>"label_color" %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="center_box field">
        <%= f.label :password_confirmation, :class=>"label_color" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="center_box actions">
        <%= f.submit "Sign up", :class=>"btn btn-default"%>
      </div>
    <% end %>
    </div>  
</div>



  
</div>
</div>

</body>
