<section class="content center full-width wow fadeInRight animated style="visibility: visible;"">
<div class="modal container new_forms">

<%= form_for @post , html: { multipart: true } do |f|  %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :user_id %><br>
    <%#= f.hidden_field :user_id%>
  </div>
  <div class="field">
    <%= f.hidden_field :planter_id , :value=>@planter_id %>
  </div>
  <div class="field">
    <p class="make_right">عنوان</p>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <p class="make_right">متن پست</p>
    <%= f.text_area :content %>
  </div>
  
  <div class="field">
    <p class="make_right">یک تصویر برای ارسال</p>
    <form id="form1" runat="server">
      <div style="display:table; margin:0 auto; width:50%; height:auto;">
          <img id="blah" src="/assets/default_plant.png" alt="your image" />
          <%= f.file_field :image , :id=>"imgInp"%>
          <%= f.submit 'پست', :class=>"b_farsi button sign_in_bt" %>  
      </div>
    </form>
  </div>

<% end %>

</div>
</section>

<script type="text/javascript">
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });

</script>