<section class="content three-fourth">


  <h1 class="page-title make_right">

  </h1>

  <p class="woocommerce-result-count">
    Showing all 5 results</p>


  <ul class="" style="float: right; margin: 0 0 1em; padding: 0;list-style: none;clear: both;">
    <li class="product_item">
      <a href="http://www.themeenergy.com/themes/wordpress/social-chef/product/flying-ninja/">
        <span class="onsale">Sale!</span>
        <img width="300" height="300" src="http://www.themeenergy.com/themes/wordpress/social-chef/wp-content/uploads/2013/06/poster_2_up-300x300.jpg" class="attachment-shop_catalog wp-post-image" alt="poster_2_up">
        <h3>Flying Ninja</h3>
        <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
        <span class="price"><del><span class="amount">$15.00</span></del> <ins><span class="amount">$12.00</span></ins></span>
      </a>
      <a href="/themes/wordpress/social-chef/product-category/posters/?add-to-cart=460" rel="nofollow" data-product_id="460" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
    </li>
  </ul>


</section>

<div class="main-wrapper">
  <div id="main">
    <div class="row">
      <div id="content" class="hfeed column large-8">
        <nav class="woocommerce-breadcrumb" itemprop="breadcrumb">
          <a class="home" href="http://themes.bonfirelab.com/bearded">GhasedakBook</a>
          <span class="separator">›</span>
          <% cat = Shoppe::ProductCategorization.where(:product_id => @product.id).first.product_category%>
          <%= link_to cat.name , products_path(cat.permalink) %>
          <span class="separator">›</span>
          <%= @product.name %>
        </nav>
        <div itemscope="" itemtype="http://schema.org/Product" id="product-73" class="post-73 product type-product status-publish hentry sale shipping-taxable purchasable product-type-simple product-cat-posters instock">
          <div class="single-product-details">
            <span class="onsale">فروش</span>
            <div class="images">
              <%= image_tag @product.default_image.path , width: "600" , height: "600" , class: "attachment-shop_single wp-post-image" %>
            </div>

            <div class="summary entry-summary">
              <div class="singular-title-wrap">
                <h1 itemprop="name" class="product_title entry-title">
                  <%= @product.name %>
                </h1>
                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                  <p class="price">
                  <span class="amount">
                    <%= number_to_currency @product.price %>
                  </span>
                  </p>
                </div>
              </div>
              <form class="cart" method="post" enctype="multipart/form-data">

                <div class="quantity buttons_added">
                  <input type="button" value="-" class="minus">
                  <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text" size="4">
                  <input type="button" value="+" class="plus">
                </div>
                <input type="hidden" name="add-to-cart" value="73">

                <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>

              </form>


              <div class="yith-wcwl-add-to-wishlist"><div class="yith-wcwl-add-button show"><a href="http://themes.bonfirelab.com/bearded/wp-content/plugins/yith-woocommerce-wishlist/yith-wcwl-ajax.php?action=add_to_wishlist&amp;add_to_wishlist=73" data-product-id="73" data-product-type="simple" class="add_to_wishlist">Add to Wishlist</a><img src="http://themes.bonfirelab.com/bearded/wp-admin/images/wpspin_light.gif" class="ajax-loading" id="add-items-ajax-loading" alt="" width="16" height="16" style="visibility:hidden"></div><div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;"><span class="feedback">Product added!</span> <a href="http://themes.bonfirelab.com/bearded/wishlist/">Browse Wishlist</a></div><div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none"><span class="feedback">The product is already in the wishlist!</span> <a href="http://themes.bonfirelab.com/bearded/wishlist/">Browse Wishlist</a></div><div style="clear:both"></div><div class="yith-wcwl-wishlistaddresponse"></div></div><div class="clear"></div>    <script type="text/javascript">
                if( !jQuery( '#yith-wcwl-popup-message' ).length ) {
                    jQuery( 'body' ).prepend(
                            '<div id="yith-wcwl-popup-message" style="display:none;">' +
                            '<div id="yith-wcwl-message"></div>' +
                            '</div>'
                    );
                }
            </script>

              <div class="woocommerce-product-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <div class="star-rating" title="Rated 2.00 out of 5">
			<span style="width:40%">
				<strong itemprop="ratingValue" class="rating">2.00</strong> out of 5			</span>
                </div>
                <a href="#reviews" class="woocommerce-review-link" rel="nofollow"><i class="icon-comments"></i><span itemprop="ratingCount" class="count">2</span> customer reviews</a>
              </div>

              <div class="product_meta">
                <span class="posted_in">Category: <a href="http://themes.bonfirelab.com/bearded/product-category/posters/" rel="tag">Posters</a>.</span>
              </div>

              <div class="woocommerce-tabs">
                <ul class="tabs">
                  <li class="description_tab active">
                    <a href="#tab-description">Description</a>
                  </li>
                </ul>

                <div class="panel entry-content" id="tab-description" style="display: block;">

                  <h2>Product Description</h2>

                  <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. </p>
                </div>

              </div>


            </div><!-- .summary -->

          </div>
          <div class="upsells products">

            <h2>You may also like…</h2>

            <ul class="products small-block-grid-1 large-block-grid-3">

              <li class="post-19 product type-product status-publish hentry first shipping-taxable purchasable product-type-simple product-cat-clothing product-cat-t-shirts instock">


                <a href="http://themes.bonfirelab.com/bearded/product/premium-quality/">

                  <img width="300" height="300" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/T_2_front-300x300.jpg" class="attachment-shop_catalog wp-post-image" alt="T_2_front">
                </a>

                <div class="product-actions"><a href="/bearded/product/premium-quality-2/?add-to-cart=19" rel="nofollow" data-product_id="19" data-product_sku="" class="button add_to_cart_button product_type_simple">Add</a><div class="yith-wcwl-add-to-wishlist"><div class="yith-wcwl-add-button show"><a href="http://themes.bonfirelab.com/bearded/wp-content/plugins/yith-woocommerce-wishlist/yith-wcwl-ajax.php?action=add_to_wishlist&amp;add_to_wishlist=19" data-product-id="19" data-product-type="simple" class="add_to_wishlist"><i class="icon-star"></i></a></div><div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;"><a href="http://themes.bonfirelab.com/bearded/wishlist/"><i class="icon-ok"></i></a></div><div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none"><a href="http://themes.bonfirelab.com/bearded/wishlist/"><i class="icon-ok"></i></a></div><div style="clear:both"></div><div class="yith-wcwl-wishlistaddresponse"></div></div><div class="clear"></div>    <script type="text/javascript">
                    if( !jQuery( '#yith-wcwl-popup-message' ).length ) {
                        jQuery( 'body' ).prepend(
                                '<div id="yith-wcwl-popup-message" style="display:none;">' +
                                '<div id="yith-wcwl-message"></div>' +
                                '</div>'
                        );
                    }
                </script>
                </div>
                <div class="product-details">
                  <h3><a href="http://themes.bonfirelab.com/bearded/product/premium-quality/" title="Premium Quality">Premium Quality</a></h3>
                  <span class="product-cat"><a href="http://themes.bonfirelab.com/bearded/product-category/clothing/" rel="tag">Clothing</a>, <a href="http://themes.bonfirelab.com/bearded/product-category/clothing/t-shirts/" rel="tag">T-shirts</a></span>	</div>


                <span class="price"><span class="amount">£20</span></span>


              </li>

            </ul>
          </div>

          <div id="reviews">
            <section id="comments">

              <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <div class="star-rating" title="Rated 2.00 out of 5">
					<span style="width:40%">
						<strong itemprop="ratingValue" class="rating">
                          2.00						</strong> out of 5					</span>
                </div>

                <h2 class="review-title">
                  <span itemprop="ratingCount" class="count">2</span> reviews for Premium Quality				</h2>
              </div>



              <ol class="comment-list">
                <li itemprop="reviews" itemscope="" itemtype="http://schema.org/Review" class="comment even thread-even depth-1" id="li-comment-88">
                  <div id="comment-88" class="comment_container">

                    <div class="comment-side">
                      <img alt="Dan" src="http://1.gravatar.com/avatar/dcd1ef25e108ae391338cb43b56ba8e6?s=51&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D51&amp;r=G" class="avatar avatar-51 photo" height="51" width="51">		</div>
		<span class="comment-author vcard">
			<cite class="fn" itemprop="author">
              Dan							</cite>

		</span>


                    <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" class="star-rating" title="Rated 3 out of 5">
                      <span style="width:60%"><strong itemprop="ratingValue">3</strong> out of 5</span>
                    </div>

                    <div class="comment-meta"><span class="published"><time class="comment-date" datetime="2013-06-07T12:39:04+00:00" title="Friday, June 7th, 2013, 12:39 pm">June 7, 2013</time> at <time class="comment-time" title="Friday, June 7th, 2013, 12:39 pm">12:39 pm</time></span></div>

                    <div class="comment-content comment-text">



                      <div itemprop="description" class="description"><p>I thought I was buying a man holding a poster, but when it arrived it was just the poster. Cool poster though, so I’ll give it 3 stars!</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </li><!-- #comment-## -->
                <li itemprop="reviews" itemscope="" itemtype="http://schema.org/Review" class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-89">
                  <div id="comment-89" class="comment_container">

                    <div class="comment-side">
                      <img alt="Maria" src="http://1.gravatar.com/avatar/59c82b1d2c60537f900fb191b3cb611b?s=51&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D51&amp;r=G" class="avatar avatar-51 photo" height="51" width="51">		</div>
		<span class="comment-author vcard">
			<cite class="fn" itemprop="author">
              Maria							</cite>

		</span>


                    <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" class="star-rating" title="Rated 1 out of 5">
                      <span style="width:20%"><strong itemprop="ratingValue">1</strong> out of 5</span>
                    </div>

                    <div class="comment-meta"><span class="published"><time class="comment-date" datetime="2013-06-07T15:55:29+00:00" title="Friday, June 7th, 2013, 3:55 pm">June 7, 2013</time> at <time class="comment-time" title="Friday, June 7th, 2013, 3:55 pm">3:55 pm</time></span></div>

                    <div class="comment-content comment-text">



                      <div itemprop="description" class="description"><p>I didn’t expect this poster to arrive folded. Now there are lines on the poster and one sad Ninja.</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </li><!-- #comment-## -->
              </ol>





              <p class="add_review"><a href="#review_form" class="inline show_review_form button" title="Add Your Review">Add Your Review</a></p>


            </section>



            <div id="review_form_wrapper" style="display: none;">

              <div id="review_form">

                <div id="respond" class="comment-respond">
                  <h3 id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/bearded/product/premium-quality-2/#respond" style="display:none;">Click here to cancel reply.</a></small></h3>
                  <form action="http://themes.bonfirelab.com/bearded/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                    <p class="comment-form-author"><label for="author">Name</label> <span class="required">*</span><input id="author" name="author" type="text" value="" size="30" aria-required="true"></p>
                    <p class="comment-form-email"><label for="email">Email</label> <span class="required">*</span><input id="email" name="email" type="text" value="" size="30" aria-required="true"></p>
                    <p class="comment-form-rating"><label for="rating">Rating</label><p class="stars"><span><a class="star-1" href="#">1</a><a class="star-2" href="#">2</a><a class="star-3" href="#">3</a><a class="star-4" href="#">4</a><a class="star-5" href="#">5</a></span></p><select name="rating" id="rating" style="display: none;">
                    <option value="">Rate…</option>
                    <option value="5">Perfect</option>
                    <option value="4">Good</option>
                    <option value="3">Average</option>
                    <option value="2">Not that bad</option>
                    <option value="1">Very Poor</option>
                  </select></p><p class="comment-form-comment"><label for="comment">Your Review</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p><input type="hidden" id="_wpnonce" name="_wpnonce" value="915961d673"><input type="hidden" name="_wp_http_referer" value="/bearded/product/premium-quality-2/">												<p class="form-submit">
                    <input name="submit" type="submit" id="submit" value="Submit Review">
                    <input type="hidden" name="comment_post_ID" value="73" id="comment_post_ID">
                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                  </p>
                    <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="2c18958875"></p>					</form>
                </div><!-- #respond -->

              </div>
            </div>


            <div class="clear"></div>
          </div>

          <div class="related products">

            <h2>Related Products</h2>

            <ul class="products small-block-grid-1 large-block-grid-3">

              <li class="post-70 product type-product status-publish hentry first sale shipping-taxable purchasable product-type-simple product-cat-posters instock">


                <a href="http://themes.bonfirelab.com/bearded/product/flying-ninja/">


                  <span class="onsale">Sale!</span>
                  <img width="300" height="300" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/poster_2_up-300x300.jpg" class="attachment-shop_catalog wp-post-image" alt="poster_2_up">
                </a>

                <div class="product-actions"><a href="/bearded/product/premium-quality-2/?add-to-cart=70" rel="nofollow" data-product_id="70" data-product_sku="" class="button add_to_cart_button product_type_simple">Add</a><div class="yith-wcwl-add-to-wishlist"><div class="yith-wcwl-add-button show"><a href="http://themes.bonfirelab.com/bearded/wp-content/plugins/yith-woocommerce-wishlist/yith-wcwl-ajax.php?action=add_to_wishlist&amp;add_to_wishlist=70" data-product-id="70" data-product-type="simple" class="add_to_wishlist"><i class="icon-star"></i></a></div><div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;"><a href="http://themes.bonfirelab.com/bearded/wishlist/"><i class="icon-ok"></i></a></div><div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none"><a href="http://themes.bonfirelab.com/bearded/wishlist/"><i class="icon-ok"></i></a></div><div style="clear:both"></div><div class="yith-wcwl-wishlistaddresponse"></div></div><div class="clear"></div>    <script type="text/javascript">
                    if( !jQuery( '#yith-wcwl-popup-message' ).length ) {
                        jQuery( 'body' ).prepend(
                                '<div id="yith-wcwl-popup-message" style="display:none;">' +
                                '<div id="yith-wcwl-message"></div>' +
                                '</div>'
                        );
                    }
                </script>
                </div>
                <div class="product-details">
                  <h3><a href="http://themes.bonfirelab.com/bearded/product/flying-ninja/" title="Flying Ninja">Flying Ninja</a></h3>
                  <span class="product-cat"><a href="http://themes.bonfirelab.com/bearded/product-category/posters/" rel="tag">Posters</a></span>	</div>


                <span class="price"><span class="amount">£12</span></span>


              </li>

              <li class="post-67 product type-product status-publish hentry last shipping-taxable purchasable product-type-simple product-cat-posters instock">


                <a href="http://themes.bonfirelab.com/bearded/product/ship-your-idea-3/">

                  <img width="300" height="300" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/poster_1_up-300x300.jpg" class="attachment-shop_catalog wp-post-image" alt="poster_1_up">
                </a>

                <div class="product-actions"><a href="/bearded/product/premium-quality-2/?add-to-cart=67" rel="nofollow" data-product_id="67" data-product_sku="" class="button add_to_cart_button product_type_simple">Add</a><div class="yith-wcwl-add-to-wishlist"><div class="yith-wcwl-add-button show"><a href="http://themes.bonfirelab.com/bearded/wp-content/plugins/yith-woocommerce-wishlist/yith-wcwl-ajax.php?action=add_to_wishlist&amp;add_to_wishlist=67" data-product-id="67" data-product-type="simple" class="add_to_wishlist"><i class="icon-star"></i></a></div><div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;"><a href="http://themes.bonfirelab.com/bearded/wishlist/"><i class="icon-ok"></i></a></div><div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none"><a href="http://themes.bonfirelab.com/bearded/wishlist/"><i class="icon-ok"></i></a></div><div style="clear:both"></div><div class="yith-wcwl-wishlistaddresponse"></div></div><div class="clear"></div>    <script type="text/javascript">
                    if( !jQuery( '#yith-wcwl-popup-message' ).length ) {
                        jQuery( 'body' ).prepend(
                                '<div id="yith-wcwl-popup-message" style="display:none;">' +
                                '<div id="yith-wcwl-message"></div>' +
                                '</div>'
                        );
                    }
                </script>
                </div>
                <div class="product-details">
                  <h3><a href="http://themes.bonfirelab.com/bearded/product/ship-your-idea-3/" title="Ship Your Idea">Ship Your Idea</a></h3>
                  <span class="product-cat"><a href="http://themes.bonfirelab.com/bearded/product-category/posters/" rel="tag">Posters</a></span>	</div>


                <span class="price"><span class="amount">£15</span></span>


              </li>

            </ul>
          </div>


          <meta itemprop="url" content="http://themes.bonfirelab.com/bearded/product/premium-quality-2/">

        </div><!-- #product-73 -->



      </div>
      <aside id="sidebar-shop" class="sidebar column large-4">
        <section id="woocommerce_widget_cart-2" class="widget woocommerce widget_shopping_cart widget-woocommerce widget_shopping_cart"><h3 class="widget-title"><span>Cart</span></h3><div class="widget_shopping_cart_content">

          <ul class="cart_list product_list_widget ">


            <li>
              <a href="http://themes.bonfirelab.com/bearded/product/woo-album-4/">
                <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/cd_5_angle-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="cd_5_angle">Woo Album #4						</a>


              <span class="quantity">1 × <span class="amount">£9</span></span>					</li>


          </ul><!-- end product list -->


          <p class="total"><strong>Subtotal:</strong> <span class="amount">£9</span></p>


          <p class="buttons">
            <a href="http://themes.bonfirelab.com/bearded/cart/" class="button wc-forward">View Cart</a>
            <a href="http://themes.bonfirelab.com/bearded/checkout/" class="button checkout wc-forward">Checkout</a>
          </p>


        </div></section><section id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories widget-woocommerce widget_product_categories"><h3 class="widget-title"><span>Product Categories</span></h3><ul class="product-categories"><li class="cat-item cat-item-48 cat-parent"><a href="http://themes.bonfirelab.com/bearded/product-category/clothing/">Clothing</a><ul class="children">
        <li class="cat-item cat-item-49"><a href="http://themes.bonfirelab.com/bearded/product-category/clothing/hoodies/">Hoodies</a></li>
        <li class="cat-item cat-item-53"><a href="http://themes.bonfirelab.com/bearded/product-category/clothing/t-shirts/">T-shirts</a></li>
      </ul>
      </li>
        <li class="cat-item cat-item-50 cat-parent"><a href="http://themes.bonfirelab.com/bearded/product-category/music/">Music</a><ul class="children">
          <li class="cat-item cat-item-54"><a href="http://themes.bonfirelab.com/bearded/product-category/music/albums/">Albums</a></li>
          <li class="cat-item cat-item-52"><a href="http://themes.bonfirelab.com/bearded/product-category/music/singles/">Singles</a></li>
        </ul>
        </li>
        <li class="cat-item cat-item-51 current-cat"><a href="http://themes.bonfirelab.com/bearded/product-category/posters/">Posters</a></li>
      </ul></section><section id="woocommerce_products-2" class="widget woocommerce widget_products widget-woocommerce widget_products"><h3 class="widget-title"><span>Latest Products</span></h3><ul class="product_list_widget"><li>
        <a href="http://themes.bonfirelab.com/bearded/product/woo-single-2/" title="Woo Single #2">
          <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/cd_6_angle-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="cd_6_angle">		Woo Single #2	</a>
        <del><span class="amount">£3</span></del> <ins><span class="amount">£2</span></ins></li><li>
        <a href="http://themes.bonfirelab.com/bearded/product/woo-album-4/" title="Woo Album #4">
          <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/cd_5_angle-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="cd_5_angle">		Woo Album #4	</a>
        <span class="amount">£9</span></li><li>
        <a href="http://themes.bonfirelab.com/bearded/product/woo-single-1/" title="Woo Single #1">
          <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/cd_4_angle-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="cd_4_angle">		Woo Single #1	</a>
        <span class="amount">£3</span></li><li>
        <a href="http://themes.bonfirelab.com/bearded/product/woo-album-3/" title="Woo Album #3">
          <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/cd_3_angle-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="cd_3_angle">		Woo Album #3	</a>
        <span class="amount">£9</span></li><li>
        <a href="http://themes.bonfirelab.com/bearded/product/woo-album-2/" title="Woo Album #2">
          <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/cd_2_angle-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="cd_2_angle">		Woo Album #2	</a>
        <span class="amount">£9</span></li></ul></section><section id="woocommerce_top_rated_products-2" class="widget woocommerce widget_top_rated_products widget-woocommerce widget_top_rated_products"><h3 class="widget-title"><span>Top Rated Products</span></h3><ul class="product_list_widget"><li>
        <a href="http://themes.bonfirelab.com/bearded/product/happy-ninja/" title="Happy Ninja">
          <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/T_7_front-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="T_7_front">		Happy Ninja	</a>
        <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div>	<span class="amount">£18</span></li><li>
        <a href="http://themes.bonfirelab.com/bearded/product/ninja-silhouette/" title="Ninja Silhouette">
          <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/T_5_front-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="T_5_front">		Ninja Silhouette	</a>
        <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div>	<span class="amount">£20</span></li><li>
        <a href="http://themes.bonfirelab.com/bearded/product/woo-single-2/" title="Woo Single #2">
          <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/cd_6_angle-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="cd_6_angle">		Woo Single #2	</a>
        <div class="star-rating" title="Rated 4.50 out of 5"><span style="width:90%"><strong class="rating">4.50</strong> out of 5</span></div>	<del><span class="amount">£3</span></del> <ins><span class="amount">£2</span></ins></li><li>
        <a href="http://themes.bonfirelab.com/bearded/product/patient-ninja/" title="Patient Ninja">
          <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/hoodie_3_front-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="hoodie_3_front">		Patient Ninja	</a>
        <div class="star-rating" title="Rated 4.67 out of 5"><span style="width:93.4%"><strong class="rating">4.67</strong> out of 5</span></div>	<span class="amount">£35</span></li><li>
        <a href="http://themes.bonfirelab.com/bearded/product/woo-ninja-2/" title="Woo Ninja">
          <img width="90" height="90" src="http://themes.bonfirelab.com/bearded/wp-content/uploads/2013/06/hoodie_2_front-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="hoodie_2_front">		Woo Ninja	</a>
        <div class="star-rating" title="Rated 4.50 out of 5"><span style="width:90%"><strong class="rating">4.50</strong> out of 5</span></div>	<span class="amount">£35</span></li></ul></section>	</aside><!-- #sidebar-primary .aside -->



    </div>
  </div><!-- #main -->




</div>
<!--- active_nav_item :catalogue-->
<!--- @page_title = @product.name + " - " + @product.product_category.name-->
<!--.product-->
<!--- if @product.default_image-->
<!--.img{:style => "background-image:url(#{@product.default_image.path})"}-->
<!--%h2= @product.name-->
<!--%p.intro= @product.short_description-->
<!---->
<!--- if @product.has_variants?-->
<!--%table.variants-->
<!--- for variant in @product.variants-->
<!--%tr-->
<!--%td-->
<!--- if variant.in_stock?-->
<!--%p.stock.yes In stock-->
<!--- else-->
<!--%p.stock.no Out of stock-->
<!--%h4= variant.name-->
<!--%p.price= number_to_currency variant.price-->
<!--%td.buy-->
<!--= form_tag buy_product_path(@product.product_category.permalink, @product.permalink, :variant => variant.id), :class => (variant.in_stock? ? 'in-stock' : 'no-stock') do-->
<!--%p-->
<!--= select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !variant.in_stock?-->
<!--= submit_tag 'اضافه به سبد خرید', :disabled => !variant.in_stock?-->
<!--- else-->
<!--.optionsBox-->
<!--.top-->
<!--%p.price= number_to_currency @product.price-->
<!--= form_tag buy_product_path(@product.product_category.permalink, @product.permalink), :class => (@product.in_stock? ? 'in-stock' : 'no-stock') do-->
<!--%p-->
<!--= select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !@product.in_stock?-->
<!--= submit_tag 'اضافه به سبد خرید', :disabled => !@product.in_stock?-->
<!--.bottom-->
<!--.stock-->
<!--- if @product.in_stock?-->
<!--%p.yes موجود-->
<!--%p.time سفارش در <b>#{hour_until_next_delivery}</b> ساعت و <b>#{minute_until_next_delivery}</b> دقیقه بعدی برای ارسال آماده است -->
<!--/ #{next_delivery_day}.-->
<!--- else-->
<!--%p.no تمام شده-->
<!--%p.time متاسفیم - به تعداد کافی از این کالا در انبار موجود نیست. -->
<!--/ Sorry - we don't have any stock of this product at the moment. #{link_to "Let me know when you do"}.-->
<!--.links-->
<!--%ul-->
<!--- if @product.data_sheet-->
<!--%li.item.datasheet= link_to "Read product datasheet", @product.data_sheet.path-->
<!--- unless @product.in_the_box.blank?-->
<!--%li.item.box-->
<!--= link_to "یک نکته برای تو!"-->
<!--%div.in_the_box-->
<!--%h3 یک نکته برای تو!-->
<!--= markdown @product.in_the_box-->
<!---#%li.item.ask= mail_to Shoppe.settings.email_address, "Ask us a question about this", :subject => "Question about the #{@product.name}"-->
<!--%li.item.ask= link_to "مقایسه با یک کالای دیگر", add_object_path(:product => @product)-->
<!--%hr-->

<!--- unless @attributes.empty?-->
<!--%table.attributes-->
<!--- for attribute in @attributes-->
<!--%tr-->
<!--%th= attribute.key-->
<!--%td= link_to attribute.value, product_filter_path(:key => attribute.key, :value => attribute.value)-->
<!--.description-->
<!--= markdown @product.description-->
<!--%hr-->
<!--- @comments.each do |cm|-->
<!--%div.alert.alert-info.product-->
<!--%span.btn-info= cm.user.phone_number-->
<!--%span.pull-left= timeago_tag(cm.created_at , :lang => :fa )-->
<!--%p= cm.content-->
<!---if current_user == cm.user-->
<!--= link_to "حذف" , cm , method: :delete, data: { confirm: 'آیا مطمئنی؟' }, :class=>"pull-left btn btn-xs btn-danger" -->
<!--- if  user_signed_in?    -->
<!--= render 'comments/form'-->
<!--- else-->
<!--%p.alert شما باید عضو باشید تا بتوانید نظر بدهید-->
<!--%button.btn.btn-primary.btn-block= link_to 'ثبت نام', new_user_registration_path-->


