<section class="content three-fourth">
  <div class="row product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-t-shirts taxable shipping-taxable purchasable product-type-simple product-cat-clothing product-cat-t-shirts instock">
    <div class="one-half">

      <% if @product.default_image %>
          <%= image_tag @product.default_image.path , style: "width: 100%;" %>
      <% end %>

    </div>

    <div class="one-half summary entry-summary">

      <h1 class="product_title entry-title make_center">
        <%= @product.name %>
      </h1>

      <div class="woocommerce-product-rating">

        <div>
          <p style="text-align: right;">
            <%= @product.short_description %>
          </p>
        </div>
        <p class="price">
          <small class="amount pull-left">
            <%= number_to_currency @product.price %>
          </small>
        </p>
        <div style="text-align: right;">
          <%= render 'products/part'%>
        </div>
      </div>
    </div>

    <div class="bottom">

    </div>

    <div class="f-row make_right">
      <span class="posted_in">
        <% cat = Shoppe::ProductCategorization.where(:product_id => @product.id).first.product_category %>
        <%=link_to cat.name , products_path(cat.permalink) %>
        :دسته بندی

      </span>
    </div>

    <div class="woocommerce-tabs">
      <ul class="tabs">

        <li class="description_tab active righted">
          <a href="#tab-description">
            بیشتر بدانید
          </a>
        </li>
      </ul>

      <div class="panel entry-content" id="tab-description" style="display: block;">

        <h2 class="make_right">
          مشخصات اصلی
        </h2>

        <p class="make_right">
          <%= @product.description %>
        </p>
      </div>


      <ul class="tabs">

        <li class="description_tab active righted">
          <a href="#tab-comments">
            نظرات
          </a>
        </li>
      </ul>


      <div class="panel entry-content" id="tab-reviews" style="direction: rtl;">
        <div id="reviews">
          <div id="comments">

            <% if @planter.present? %>


                <p class="make_right">
                  اگر می خواهی بیشتر بدانی سری به باغ
                  <%= link_to planter_path(@planter) do %>
                  <% @planter.name %>
                  <% end %>
                  بزن..
                </p>
            <% end %>

            <!--<h2 class="make_right">-->
              <!--2-->
              <!--نظر برای-->
              <!--<%= @product.name %>-->
            <!--</h2>-->
            <!--<ol class="commentlist">-->
              <!--<li itemprop="review" itemscope="" itemtype="http://schema.org/Review" class="comment even thread-even depth-1" id="li-comment-137">-->

                <!--<div id="comment-137" class="comment_container">-->

                  <!--<img alt="" src="http://1.gravatar.com/avatar/7a6df00789e50714fcde1b759befcc84?s=60&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/7a6df00789e50714fcde1b759befcc84?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60">-->
                  <!--<div class="comment-text">-->


                    <!--<div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" class="star-rating" title="Rated 5 out of 5">-->
                      <!--<span style="width:100%"><strong itemprop="ratingValue">5</strong> out of 5</span>-->
                    <!--</div>-->

                    <!--<p class="meta">-->
                      <!--<strong itemprop="author">Stuart</strong> – <time itemprop="datePublished" datetime="2013-06-07T13:01:25+00:00">06/07/2013</time>:-->
                    <!--</p>-->


                    <!--<div itemprop="description" class="description">-->
                      <!--<p>This will go great with my Hoodie that I ordered a few weeks ago.</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>&lt;!&ndash; #comment-## &ndash;&gt;-->
            <!--</ol>-->
          </div>

          <!--<div id="review_form_wrapper">-->
            <!--<div id="review_form">-->
              <!--<div id="respond" class="comment-respond">-->
                <!--<h3 id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/themes/wordpress/social-chef/product/happy-ninja/#respond" style="display:none;">Cancel reply</a></small></h3>-->
                <!--<form action="http://www.themeenergy.com/themes/wordpress/social-chef/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">-->
                  <!--<div class="container">                                       <div class="f-row"><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required="true"></p>-->
                    <!--<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" aria-required="true"></p>-->
                  <!--</div>                        <p class="comment-form-rating"><label for="rating">Your Rating</label><p class="stars"><span><a class="star-1" href="#">1</a><a class="star-2" href="#">2</a><a class="star-3" href="#">3</a><a class="star-4" href="#">4</a><a class="star-5" href="#">5</a></span></p><div class="selector" id="uniform-rating" style="display: none; width: 113px;"><span style="width: 101px; -webkit-user-select: none;">Rate…</span><select name="rating" id="rating" style="display: none;">-->
                    <!--<option value="">Rate…</option>-->
                    <!--<option value="5">Perfect</option>-->
                    <!--<option value="4">Good</option>-->
                    <!--<option value="3">Average</option>-->
                    <!--<option value="2">Not that bad</option>-->
                    <!--<option value="1">Very Poor</option>-->
                  <!--</select></div></p><p class="comment-form-comment"><label for="comment">Your Review</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p>-->
                    <!--<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit"> <input type="hidden" name="comment_post_ID" value="455" id="comment_post_ID">-->
                      <!--<input type="hidden" name="comment_parent" id="comment_parent" value="0">-->
                    <!--</p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="67161e2ebc"></p><p style="display: none;"></p></div>          <input type="hidden" id="ak_js" name="ak_js" value="1437261356876"></form>-->
              <!--</div>&lt;!&ndash; #respond &ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->

          <div class="clear"></div>
        </div>
      </div>
    </div>


    <div class="woocommerce-tabs">


      <ul class="tabs">

        <li class="description_tab active righted">
          <a href="#tab-description">
            شاید از این ها هم خوشت بیاید:
          </a>
        </li>
      </ul>

      <div class="panel">

      <ul class="products" style="direction: rtl;">
        <% cat.products.first(3).each do |prod| %>
            <% if prod != @product %>
                <%= render 'products/product' , :prod => prod , :rel => 3%>
                <!--<div class="entry one-third pull-right">-->
                  <!--<figure>-->
                    <!--<% if prod.default_image.present? %>-->
                        <!--<%= image_tag prod.default_image.path , style: "width: 100%;max-height: 225px; height: 225px;" %>-->
                    <!--<% else %>-->
                        <!--<img src="/assets/img12.jpg" alt="" />-->
                    <!--<% end %>-->
                    <!--<figcaption>-->
                      <!--<%= link_to product_path(prod.product_category.permalink, prod.permalink) do %>-->
                          <!--<i class="ico i-view">-->
                          <!--</i>-->
                            <!--<span>-->
                            <!--<%= prod.name %>-->
                            <!--</span>-->
                      <!--<% end %>-->
                    <!--</figcaption>-->
                  <!--</figure>-->
                  <!--<div class="container make_center">-->
                    <!--<h2>-->
                      <!--<%= link_to prod.name , product_path(prod.product_category.permalink, prod.permalink)%>-->
                    <!--</h2>-->
                    <!--<div class="actions">-->
                      <!--<div>-->
                        <!--<div class="date">-->
                          <!--<i class="ico i-date">-->
                          <!--</i>-->
                          <!--<b>-->
                            <!--<% cat = Shoppe::ProductCategorization.where(:product_id => prod.id).first.product_category %>-->
                            <!--<%= link_to cat.name , products_path(cat.permalink) %>-->
                          <!--</b>-->
                        <!--</div>-->
                          <!--<span>-->
                            <!--<%=number_to_currency prod.price%>-->
                          <!--</span>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="make_center">-->
                      <!--<p>-->
                        <!--<%= prod.description %>-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
            <% end %>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</section>
