<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'appshopstyle', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'flower.png' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="keywords" content="WisePot- Social wise pot" />
  <meta name="description" content="SocialPot - Social Pot">
  <meta name="author" content="rasadpot.ir">

  <title>
  فروشگاه گل و گیاه
  </title>
  <%= render 'shared/header' %>


</head>
<body class="home single single-product woocommerce woocommerce-page js">

<% if notice %>
    <div id ="my_notice" class="notification">
      <%= notice %>
    </div>
<% end %>

<main class="main" role="main">
  <!--wrap-->
  <div class="wrap clearfix">

    <!--breadcrumbs-->
    <nav class="breadcrumbs">
      <ul>
        <li class="search-div">
          <%=form_tag({controller: "initial" , action: "do_search" },:format => "js",method: "get" , id:"main_search") do %>
              <%= text_field_tag :query,nil,placeholder:"جستجوی همه چیز",:style =>"text-align: center; " , autocomplete: :off %>
              </br></br>
          <%end%>
          <ul id="result" class="mylist">
          </ul>
        </li>
        <li><a href="http://www.themeenergy.com/themes/html/social-chef/index.html" title="Home">خانه</a></li>
        <li>فروشگاه</li>
      </ul>
    </nav>

    <aside id="secondary-left" class="left-sidebar sidebar widget-area one-fourth" role="complementary">
      <ul>
        <li class="widget widget-sidebar make_center">
          <h5>سبد خرید</h5>
          <div class="widget_shopping_cart_content">
                <%= render 'shared/basket', :order => current_order %>
          </div>
        </li>

        <!--&lt;!&ndash;Price Filtering &ndash;&gt;-->
        <!--<li class="widget widget-sidebar">-->
          <!--<h5>Filter by price</h5>-->
          <!--<form method="get" action="http://www.themeenergy.com/themes/wordpress/social-chef/shop/">-->
            <!--<div class="price_slider_wrapper">-->
              <!--<div class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style=""><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>-->
              <!--<div class="price_slider_amount">-->
                <!--<input type="text" id="min_price" name="min_price" value="" data-min="2" placeholder="Min price" style="display: none;">-->
                <!--<input type="text" id="max_price" name="max_price" value="" data-max="35" placeholder="Max price" style="display: none;">-->
                <!--<button type="submit" class="button">Filter</button>-->
                <!--<div class="price_label" style="">-->
                  <!--Price: <span class="from">$2</span> — <span class="to">$35</span>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
        <!--</li>-->
        <!--&lt;!&ndash;price &ndash;&gt;-->

        <li class="widget widget-sidebar">
          <h5>محصولات</h5>
          <ul class="product_list_widget">
            <% x = Shoppe::Product.active.featured.includes(:default_image, :product_categories, :variants).root %>
                <%= render 'shared/product_list', :products => x.includes(:default_image) %>
          </ul>
        </li>
      </ul>
    </aside>

    <%= yield %>

  </div>
</main>
</body>
<%= render 'shared/footer' %>



<script type="application/javascript">
    $("#my_notice").delay(5000).show(10000).hide(1000);
</script>

